<Torah>
	<Book Name="Genesis">
		<Chapter Name="1" Source="Genesis/1.html"/>
		<Chapter Name="2" Source="Genesis/2.html"/>
		<Chapter Name="3" Source="Genesis/3.html"/>
		<Chapter Name="4" Source="Genesis/4.html"/>
		<Chapter Name="5" Source="Genesis/5.html"/>
		<Chapter Name="6" Source="Genesis/6.html"/>
		<Chapter Name="7" Source="Genesis/7.html"/>
		<Chapter Name="8" Source="Genesis/8.html"/>
		<Chapter Name="9" Source="Genesis/9.html"/>
		<Chapter Name="10" Source="Genesis/10.html"/>
		<Chapter Name="11" Source="Genesis/11.html"/>
		<Chapter Name="12" Source="Genesis/12.html"/>
		<Chapter Name="13" Source="Genesis/13.html"/>
		<Chapter Name="14" Source="Genesis/14.html"/>
		<Chapter Name="15" Source="Genesis/15.html"/>
		<Chapter Name="16" Source="Genesis/16.html"/>
		<Chapter Name="17" Source="Genesis/17.html"/>
		<Chapter Name="18" Source="Genesis/18.html"/>
		<Chapter Name="19" Source="Genesis/19.html"/>
		<Chapter Name="20" Source="Genesis/20.html"/>
		<Chapter Name="21" Source="Genesis/21.html"/>
		<Chapter Name="22" Source="Genesis/22.html"/>
		<Chapter Name="23" Source="Genesis/23.html"/>
		<Chapter Name="24" Source="Genesis/24.html"/>
		<Chapter Name="25" Source="Genesis/25.html"/>
		<Chapter Name="26" Source="Genesis/26.html"/>
		<Chapter Name="27" Source="Genesis/27.html"/>
		<Chapter Name="28" Source="Genesis/28.html"/>
		<Chapter Name="29" Source="Genesis/29.html"/>
		<Chapter Name="30" Source="Genesis/30.html"/>
		<Chapter Name="31" Source="Genesis/31.html"/>
		<Chapter Name="32" Source="Genesis/32.html"/>
		<Chapter Name="33" Source="Genesis/33.html"/>
		<Chapter Name="34" Source="Genesis/34.html"/>
		<Chapter Name="35" Source="Genesis/35.html"/>
		<Chapter Name="36" Source="Genesis/36.html"/>
		<Chapter Name="37" Source="Genesis/37.html"/>
		<Chapter Name="38" Source="Genesis/38.html"/>
		<Chapter Name="39" Source="Genesis/39.html"/>
		<Chapter Name="40" Source="Genesis/40.html"/>
		<Chapter Name="41" Source="Genesis/41.html"/>
		<Chapter Name="42" Source="Genesis/42.html"/>
		<Chapter Name="43" Source="Genesis/43.html"/>
		<Chapter Name="44" Source="Genesis/44.html"/>
		<Chapter Name="45" Source="Genesis/45.html"/>
		<Chapter Name="46" Source="Genesis/46.html"/>
		<Chapter Name="47" Source="Genesis/47.html"/>
		<Chapter Name="48" Source="Genesis/48.html"/>
		<Chapter Name="49" Source="Genesis/49.html"/>
		<Chapter Name="50" Source="Genesis/50.html"/>
	</Book>
	<Book Name="Exodus">
		<Chapter Name="1" Source="Exodus/1.html"/>
		<Chapter Name="2" Source="Exodus/2.html"/>
		<Chapter Name="3" Source="Exodus/3.html"/>
		<Chapter Name="4" Source="Exodus/4.html"/>
		<Chapter Name="5" Source="Exodus/5.html"/>
		<Chapter Name="6" Source="Exodus/6.html"/>
		<Chapter Name="7" Source="Exodus/7.html"/>
		<Chapter Name="8" Source="Exodus/8.html"/>
		<Chapter Name="9" Source="Exodus/9.html"/>
		<Chapter Name="10" Source="Exodus/10.html"/>
		<Chapter Name="11" Source="Exodus/11.html"/>
		<Chapter Name="12" Source="Exodus/12.html"/>
		<Chapter Name="13" Source="Exodus/13.html"/>
		<Chapter Name="14" Source="Exodus/14.html"/>
		<Chapter Name="15" Source="Exodus/15.html"/>
		<Chapter Name="16" Source="Exodus/16.html"/>
		<Chapter Name="17" Source="Exodus/17.html"/>
		<Chapter Name="18" Source="Exodus/18.html"/>
		<Chapter Name="19" Source="Exodus/19.html"/>
		<Chapter Name="20" Source="Exodus/20.html"/>
		<Chapter Name="21" Source="Exodus/21.html"/>
		<Chapter Name="22" Source="Exodus/22.html"/>
		<Chapter Name="23" Source="Exodus/23.html"/>
		<Chapter Name="24" Source="Exodus/24.html"/>
		<Chapter Name="25" Source="Exodus/25.html"/>
		<Chapter Name="26" Source="Exodus/26.html"/>
		<Chapter Name="27" Source="Exodus/27.html"/>
		<Chapter Name="28" Source="Exodus/28.html"/>
		<Chapter Name="29" Source="Exodus/29.html"/>
		<Chapter Name="30" Source="Exodus/30.html"/>
		<Chapter Name="31" Source="Exodus/31.html"/>
		<Chapter Name="32" Source="Exodus/32.html"/>
		<Chapter Name="33" Source="Exodus/33.html"/>
		<Chapter Name="34" Source="Exodus/34.html"/>
		<Chapter Name="35" Source="Exodus/35.html"/>
		<Chapter Name="36" Source="Exodus/36.html"/>
		<Chapter Name="37" Source="Exodus/37.html"/>
		<Chapter Name="38" Source="Exodus/38.html"/>
		<Chapter Name="39" Source="Exodus/39.html"/>
		<Chapter Name="40" Source="Exodus/40.html"/>
	</Book>
	<Book Name="Leviticus">
		<Chapter Name="1" Source="Leviticus/1.html"/>
		<Chapter Name="2" Source="Leviticus/2.html"/>
		<Chapter Name="3" Source="Leviticus/3.html"/>
		<Chapter Name="4" Source="Leviticus/4.html"/>
		<Chapter Name="5" Source="Leviticus/5.html"/>
		<Chapter Name="6" Source="Leviticus/6.html"/>
		<Chapter Name="7" Source="Leviticus/7.html"/>
		<Chapter Name="8" Source="Leviticus/8.html"/>
		<Chapter Name="9" Source="Leviticus/9.html"/>
		<Chapter Name="10" Source="Leviticus/10.html"/>
		<Chapter Name="11" Source="Leviticus/11.html"/>
		<Chapter Name="12" Source="Leviticus/12.html"/>
		<Chapter Name="13" Source="Leviticus/13.html"/>
		<Chapter Name="14" Source="Leviticus/14.html"/>
		<Chapter Name="15" Source="Leviticus/15.html"/>
		<Chapter Name="16" Source="Leviticus/16.html"/>
		<Chapter Name="17" Source="Leviticus/17.html"/>
		<Chapter Name="18" Source="Leviticus/18.html"/>
		<Chapter Name="19" Source="Leviticus/19.html"/>
		<Chapter Name="20" Source="Leviticus/20.html"/>
		<Chapter Name="21" Source="Leviticus/21.html"/>
		<Chapter Name="22" Source="Leviticus/22.html"/>
		<Chapter Name="23" Source="Leviticus/23.html"/>
		<Chapter Name="24" Source="Leviticus/24.html"/>
		<Chapter Name="25" Source="Leviticus/25.html"/>
		<Chapter Name="26" Source="Leviticus/26.html"/>
		<Chapter Name="27" Source="Leviticus/27.html"/>
	</Book>
	<Book Name="Numbers">
		<Chapter Name="1" Source="Numbers/1.html"/>
		<Chapter Name="2" Source="Numbers/2.html"/>
		<Chapter Name="3" Source="Numbers/3.html"/>
		<Chapter Name="4" Source="Numbers/4.html"/>
		<Chapter Name="5" Source="Numbers/5.html"/>
		<Chapter Name="6" Source="Numbers/6.html"/>
		<Chapter Name="7" Source="Numbers/7.html"/>
		<Chapter Name="8" Source="Numbers/8.html"/>
		<Chapter Name="9" Source="Numbers/9.html"/>
		<Chapter Name="10" Source="Numbers/10.html"/>
		<Chapter Name="11" Source="Numbers/11.html"/>
		<Chapter Name="12" Source="Numbers/12.html"/>
		<Chapter Name="13" Source="Numbers/13.html"/>
		<Chapter Name="14" Source="Numbers/14.html"/>
		<Chapter Name="15" Source="Numbers/15.html"/>
		<Chapter Name="16" Source="Numbers/16.html"/>
		<Chapter Name="17" Source="Numbers/17.html"/>
		<Chapter Name="18" Source="Numbers/18.html"/>
		<Chapter Name="19" Source="Numbers/19.html"/>
		<Chapter Name="20" Source="Numbers/20.html"/>
		<Chapter Name="21" Source="Numbers/21.html"/>
		<Chapter Name="22" Source="Numbers/22.html"/>
		<Chapter Name="23" Source="Numbers/23.html"/>
		<Chapter Name="24" Source="Numbers/24.html"/>
		<Chapter Name="25" Source="Numbers/25.html"/>
		<Chapter Name="26" Source="Numbers/26.html"/>
		<Chapter Name="27" Source="Numbers/27.html"/>
		<Chapter Name="28" Source="Numbers/28.html"/>
		<Chapter Name="29" Source="Numbers/29.html"/>
		<Chapter Name="30" Source="Numbers/30.html"/>
		<Chapter Name="31" Source="Numbers/31.html"/>
		<Chapter Name="32" Source="Numbers/32.html"/>
		<Chapter Name="33" Source="Numbers/33.html"/>
		<Chapter Name="34" Source="Numbers/34.html"/>
		<Chapter Name="35" Source="Numbers/35.html"/>
		<Chapter Name="36" Source="Numbers/36.html"/>
	</Book>
	<Book Name="Deuteronomy">
		<Chapter Name="1" Source="Deuteronomy/1.html"/>
		<Chapter Name="2" Source="Deuteronomy/2.html"/>
		<Chapter Name="3" Source="Deuteronomy/3.html"/>
		<Chapter Name="4" Source="Deuteronomy/4.html"/>
		<Chapter Name="5" Source="Deuteronomy/5.html"/>
		<Chapter Name="6" Source="Deuteronomy/6.html"/>
		<Chapter Name="7" Source="Deuteronomy/7.html"/>
		<Chapter Name="8" Source="Deuteronomy/8.html"/>
		<Chapter Name="9" Source="Deuteronomy/9.html"/>
		<Chapter Name="10" Source="Deuteronomy/10.html"/>
		<Chapter Name="11" Source="Deuteronomy/11.html"/>
		<Chapter Name="12" Source="Deuteronomy/12.html"/>
		<Chapter Name="13" Source="Deuteronomy/13.html"/>
		<Chapter Name="14" Source="Deuteronomy/14.html"/>
		<Chapter Name="15" Source="Deuteronomy/15.html"/>
		<Chapter Name="16" Source="Deuteronomy/16.html"/>
		<Chapter Name="17" Source="Deuteronomy/17.html"/>
		<Chapter Name="18" Source="Deuteronomy/18.html"/>
		<Chapter Name="19" Source="Deuteronomy/19.html"/>
		<Chapter Name="20" Source="Deuteronomy/20.html"/>
		<Chapter Name="21" Source="Deuteronomy/21.html"/>
		<Chapter Name="22" Source="Deuteronomy/22.html"/>
		<Chapter Name="23" Source="Deuteronomy/23.html"/>
		<Chapter Name="24" Source="Deuteronomy/24.html"/>
		<Chapter Name="25" Source="Deuteronomy/25.html"/>
		<Chapter Name="26" Source="Deuteronomy/26.html"/>
		<Chapter Name="27" Source="Deuteronomy/27.html"/>
		<Chapter Name="28" Source="Deuteronomy/28.html"/>
		<Chapter Name="29" Source="Deuteronomy/29.html"/>
		<Chapter Name="30" Source="Deuteronomy/30.html"/>
		<Chapter Name="31" Source="Deuteronomy/31.html"/>
		<Chapter Name="32" Source="Deuteronomy/32.html"/>
		<Chapter Name="33" Source="Deuteronomy/33.html"/>
		<Chapter Name="34" Source="Deuteronomy/34.html"/>
	</Book>
</Torah>