<Bible>
	<Book Name="Joshua">
		<Chapter Name="1" Source="Joshua/1.html"/>
		<Chapter Name="2" Source="Joshua/2.html"/>
		<Chapter Name="3" Source="Joshua/3.html"/>
		<Chapter Name="4" Source="Joshua/4.html"/>
		<Chapter Name="5" Source="Joshua/5.html"/>
		<Chapter Name="6" Source="Joshua/6.html"/>
		<Chapter Name="7" Source="Joshua/7.html"/>
		<Chapter Name="8" Source="Joshua/8.html"/>
		<Chapter Name="9" Source="Joshua/9.html"/>
		<Chapter Name="10" Source="Joshua/10.html"/>
		<Chapter Name="11" Source="Joshua/11.html"/>
		<Chapter Name="12" Source="Joshua/12.html"/>
		<Chapter Name="13" Source="Joshua/13.html"/>
		<Chapter Name="14" Source="Joshua/14.html"/>
		<Chapter Name="15" Source="Joshua/15.html"/>
		<Chapter Name="16" Source="Joshua/16.html"/>
		<Chapter Name="17" Source="Joshua/17.html"/>
		<Chapter Name="18" Source="Joshua/18.html"/>
		<Chapter Name="19" Source="Joshua/19.html"/>
		<Chapter Name="20" Source="Joshua/20.html"/>
		<Chapter Name="21" Source="Joshua/21.html"/>
		<Chapter Name="22" Source="Joshua/22.html"/>
		<Chapter Name="23" Source="Joshua/23.html"/>
		<Chapter Name="24" Source="Joshua/24.html"/>
	</Book>
	<Book Name="Judges">
		<Chapter Name="1" Source="Judges/1.html"/>
		<Chapter Name="2" Source="Judges/2.html"/>
		<Chapter Name="3" Source="Judges/3.html"/>
		<Chapter Name="4" Source="Judges/4.html"/>
		<Chapter Name="5" Source="Judges/5.html"/>
		<Chapter Name="6" Source="Judges/6.html"/>
		<Chapter Name="7" Source="Judges/7.html"/>
		<Chapter Name="8" Source="Judges/8.html"/>
		<Chapter Name="9" Source="Judges/9.html"/>
		<Chapter Name="10" Source="Judges/10.html"/>
		<Chapter Name="11" Source="Judges/11.html"/>
		<Chapter Name="12" Source="Judges/12.html"/>
		<Chapter Name="13" Source="Judges/13.html"/>
		<Chapter Name="14" Source="Judges/14.html"/>
		<Chapter Name="15" Source="Judges/15.html"/>
		<Chapter Name="16" Source="Judges/16.html"/>
		<Chapter Name="17" Source="Judges/17.html"/>
		<Chapter Name="18" Source="Judges/18.html"/>
		<Chapter Name="19" Source="Judges/19.html"/>
		<Chapter Name="20" Source="Judges/20.html"/>
		<Chapter Name="21" Source="Judges/21.html"/>
	</Book>
	<Book Name="Ruth">
		<Chapter Name="1" Source="Ruth/1.html"/>
		<Chapter Name="2" Source="Ruth/2.html"/>
		<Chapter Name="3" Source="Ruth/3.html"/>
		<Chapter Name="4" Source="Ruth/4.html"/>
	</Book>
	<Book Name="1 Samuel">
		<Chapter Name="1" Source="1Samuel/1.html"/>
		<Chapter Name="2" Source="1Samuel/2.html"/>
		<Chapter Name="3" Source="1Samuel/3.html"/>
		<Chapter Name="4" Source="1Samuel/4.html"/>
		<Chapter Name="5" Source="1Samuel/5.html"/>
		<Chapter Name="6" Source="1Samuel/6.html"/>
		<Chapter Name="7" Source="1Samuel/7.html"/>
		<Chapter Name="8" Source="1Samuel/8.html"/>
		<Chapter Name="9" Source="1Samuel/9.html"/>
		<Chapter Name="10" Source="1Samuel/10.html"/>
		<Chapter Name="11" Source="1Samuel/11.html"/>
		<Chapter Name="12" Source="1Samuel/12.html"/>
		<Chapter Name="13" Source="1Samuel/13.html"/>
		<Chapter Name="14" Source="1Samuel/14.html"/>
		<Chapter Name="15" Source="1Samuel/15.html"/>
		<Chapter Name="16" Source="1Samuel/16.html"/>
		<Chapter Name="17" Source="1Samuel/17.html"/>
		<Chapter Name="18" Source="1Samuel/18.html"/>
		<Chapter Name="19" Source="1Samuel/19.html"/>
		<Chapter Name="20" Source="1Samuel/20.html"/>
		<Chapter Name="21" Source="1Samuel/21.html"/>
		<Chapter Name="22" Source="1Samuel/22.html"/>
		<Chapter Name="23" Source="1Samuel/23.html"/>
		<Chapter Name="24" Source="1Samuel/24.html"/>
		<Chapter Name="25" Source="1Samuel/25.html"/>
		<Chapter Name="26" Source="1Samuel/26.html"/>
		<Chapter Name="27" Source="1Samuel/27.html"/>
		<Chapter Name="28" Source="1Samuel/28.html"/>
		<Chapter Name="29" Source="1Samuel/29.html"/>
		<Chapter Name="30" Source="1Samuel/30.html"/>
		<Chapter Name="31" Source="1Samuel/31.html"/>
	</Book>
	<Book Name="2 Samuel">
		<Chapter Name="1" Source="2Samuel/1.html"/>
		<Chapter Name="2" Source="2Samuel/2.html"/>
		<Chapter Name="3" Source="2Samuel/3.html"/>
		<Chapter Name="4" Source="2Samuel/4.html"/>
		<Chapter Name="5" Source="2Samuel/5.html"/>
		<Chapter Name="6" Source="2Samuel/6.html"/>
		<Chapter Name="7" Source="2Samuel/7.html"/>
		<Chapter Name="8" Source="2Samuel/8.html"/>
		<Chapter Name="9" Source="2Samuel/9.html"/>
		<Chapter Name="10" Source="2Samuel/10.html"/>
		<Chapter Name="11" Source="2Samuel/11.html"/>
		<Chapter Name="12" Source="2Samuel/12.html"/>
		<Chapter Name="13" Source="2Samuel/13.html"/>
		<Chapter Name="14" Source="2Samuel/14.html"/>
		<Chapter Name="15" Source="2Samuel/15.html"/>
		<Chapter Name="16" Source="2Samuel/16.html"/>
		<Chapter Name="17" Source="2Samuel/17.html"/>
		<Chapter Name="18" Source="2Samuel/18.html"/>
		<Chapter Name="19" Source="2Samuel/19.html"/>
		<Chapter Name="20" Source="2Samuel/20.html"/>
		<Chapter Name="21" Source="2Samuel/21.html"/>
		<Chapter Name="22" Source="2Samuel/22.html"/>
		<Chapter Name="23" Source="2Samuel/23.html"/>
		<Chapter Name="24" Source="2Samuel/24.html"/>
	</Book>
	<Book Name="1 Kings">
		<Chapter Name="1" Source="1Kings/1.html"/>
		<Chapter Name="2" Source="1Kings/2.html"/>
		<Chapter Name="3" Source="1Kings/3.html"/>
		<Chapter Name="4" Source="1Kings/4.html"/>
		<Chapter Name="5" Source="1Kings/5.html"/>
		<Chapter Name="6" Source="1Kings/6.html"/>
		<Chapter Name="7" Source="1Kings/7.html"/>
		<Chapter Name="8" Source="1Kings/8.html"/>
		<Chapter Name="9" Source="1Kings/9.html"/>
		<Chapter Name="10" Source="1Kings/10.html"/>
		<Chapter Name="11" Source="1Kings/11.html"/>
		<Chapter Name="12" Source="1Kings/12.html"/>
		<Chapter Name="13" Source="1Kings/13.html"/>
		<Chapter Name="14" Source="1Kings/14.html"/>
		<Chapter Name="15" Source="1Kings/15.html"/>
		<Chapter Name="16" Source="1Kings/16.html"/>
		<Chapter Name="17" Source="1Kings/17.html"/>
		<Chapter Name="18" Source="1Kings/18.html"/>
		<Chapter Name="19" Source="1Kings/19.html"/>
		<Chapter Name="20" Source="1Kings/20.html"/>
		<Chapter Name="21" Source="1Kings/21.html"/>
		<Chapter Name="22" Source="1Kings/22.html"/>
	</Book>
	<Book Name="2 Kings">
		<Chapter Name="1" Source="2Kings/1.html"/>
		<Chapter Name="2" Source="2Kings/2.html"/>
		<Chapter Name="3" Source="2Kings/3.html"/>
		<Chapter Name="4" Source="2Kings/4.html"/>
		<Chapter Name="5" Source="2Kings/5.html"/>
		<Chapter Name="6" Source="2Kings/6.html"/>
		<Chapter Name="7" Source="2Kings/7.html"/>
		<Chapter Name="8" Source="2Kings/8.html"/>
		<Chapter Name="9" Source="2Kings/9.html"/>
		<Chapter Name="10" Source="2Kings/10.html"/>
		<Chapter Name="11" Source="2Kings/11.html"/>
		<Chapter Name="12" Source="2Kings/12.html"/>
		<Chapter Name="13" Source="2Kings/13.html"/>
		<Chapter Name="14" Source="2Kings/14.html"/>
		<Chapter Name="15" Source="2Kings/15.html"/>
		<Chapter Name="16" Source="2Kings/16.html"/>
		<Chapter Name="17" Source="2Kings/17.html"/>
		<Chapter Name="18" Source="2Kings/18.html"/>
		<Chapter Name="19" Source="2Kings/19.html"/>
		<Chapter Name="20" Source="2Kings/20.html"/>
		<Chapter Name="21" Source="2Kings/21.html"/>
		<Chapter Name="22" Source="2Kings/22.html"/>
		<Chapter Name="23" Source="2Kings/23.html"/>
		<Chapter Name="24" Source="2Kings/24.html"/>
		<Chapter Name="25" Source="2Kings/25.html"/>
	</Book>
	<Book Name="1 Chronicles">
		<Chapter Name="1" Source="1Chronicles/1.html"/>
		<Chapter Name="2" Source="1Chronicles/2.html"/>
		<Chapter Name="3" Source="1Chronicles/3.html"/>
		<Chapter Name="4" Source="1Chronicles/4.html"/>
		<Chapter Name="5" Source="1Chronicles/5.html"/>
		<Chapter Name="6" Source="1Chronicles/6.html"/>
		<Chapter Name="7" Source="1Chronicles/7.html"/>
		<Chapter Name="8" Source="1Chronicles/8.html"/>
		<Chapter Name="9" Source="1Chronicles/9.html"/>
		<Chapter Name="10" Source="1Chronicles/10.html"/>
		<Chapter Name="11" Source="1Chronicles/11.html"/>
		<Chapter Name="12" Source="1Chronicles/12.html"/>
		<Chapter Name="13" Source="1Chronicles/13.html"/>
		<Chapter Name="14" Source="1Chronicles/14.html"/>
		<Chapter Name="15" Source="1Chronicles/15.html"/>
		<Chapter Name="16" Source="1Chronicles/16.html"/>
		<Chapter Name="17" Source="1Chronicles/17.html"/>
		<Chapter Name="18" Source="1Chronicles/18.html"/>
		<Chapter Name="19" Source="1Chronicles/19.html"/>
		<Chapter Name="20" Source="1Chronicles/20.html"/>
		<Chapter Name="21" Source="1Chronicles/21.html"/>
		<Chapter Name="22" Source="1Chronicles/22.html"/>
		<Chapter Name="23" Source="1Chronicles/23.html"/>
		<Chapter Name="24" Source="1Chronicles/24.html"/>
		<Chapter Name="25" Source="1Chronicles/25.html"/>
		<Chapter Name="26" Source="1Chronicles/26.html"/>
		<Chapter Name="27" Source="1Chronicles/27.html"/>
		<Chapter Name="28" Source="1Chronicles/28.html"/>
		<Chapter Name="29" Source="1Chronicles/29.html"/>
	</Book>
	<Book Name="2 Chronicles">
		<Chapter Name="1" Source="2Chronicles/1.html"/>
		<Chapter Name="2" Source="2Chronicles/2.html"/>
		<Chapter Name="3" Source="2Chronicles/3.html"/>
		<Chapter Name="4" Source="2Chronicles/4.html"/>
		<Chapter Name="5" Source="2Chronicles/5.html"/>
		<Chapter Name="6" Source="2Chronicles/6.html"/>
		<Chapter Name="7" Source="2Chronicles/7.html"/>
		<Chapter Name="8" Source="2Chronicles/8.html"/>
		<Chapter Name="9" Source="2Chronicles/9.html"/>
		<Chapter Name="10" Source="2Chronicles/10.html"/>
		<Chapter Name="11" Source="2Chronicles/11.html"/>
		<Chapter Name="12" Source="2Chronicles/12.html"/>
		<Chapter Name="13" Source="2Chronicles/13.html"/>
		<Chapter Name="14" Source="2Chronicles/14.html"/>
		<Chapter Name="15" Source="2Chronicles/15.html"/>
		<Chapter Name="16" Source="2Chronicles/16.html"/>
		<Chapter Name="17" Source="2Chronicles/17.html"/>
		<Chapter Name="18" Source="2Chronicles/18.html"/>
		<Chapter Name="19" Source="2Chronicles/19.html"/>
		<Chapter Name="20" Source="2Chronicles/20.html"/>
		<Chapter Name="21" Source="2Chronicles/21.html"/>
		<Chapter Name="22" Source="2Chronicles/22.html"/>
		<Chapter Name="23" Source="2Chronicles/23.html"/>
		<Chapter Name="24" Source="2Chronicles/24.html"/>
		<Chapter Name="25" Source="2Chronicles/25.html"/>
		<Chapter Name="26" Source="2Chronicles/26.html"/>
		<Chapter Name="27" Source="2Chronicles/27.html"/>
		<Chapter Name="28" Source="2Chronicles/28.html"/>
		<Chapter Name="29" Source="2Chronicles/29.html"/>
		<Chapter Name="30" Source="2Chronicles/30.html"/>
		<Chapter Name="31" Source="2Chronicles/31.html"/>
		<Chapter Name="32" Source="2Chronicles/32.html"/>
		<Chapter Name="33" Source="2Chronicles/33.html"/>
		<Chapter Name="34" Source="2Chronicles/34.html"/>
		<Chapter Name="35" Source="2Chronicles/35.html"/>
		<Chapter Name="36" Source="2Chronicles/36.html"/>
	</Book>
	<Book Name="Ezra">
		<Chapter Name="1" Source="Ezra/1.html"/>
		<Chapter Name="2" Source="Ezra/2.html"/>
		<Chapter Name="3" Source="Ezra/3.html"/>
		<Chapter Name="4" Source="Ezra/4.html"/>
		<Chapter Name="5" Source="Ezra/5.html"/>
		<Chapter Name="6" Source="Ezra/6.html"/>
		<Chapter Name="7" Source="Ezra/7.html"/>
		<Chapter Name="8" Source="Ezra/8.html"/>
		<Chapter Name="9" Source="Ezra/9.html"/>
		<Chapter Name="10" Source="Ezra/10.html"/>
	</Book>
	<Book Name="Nehemiah">
		<Chapter Name="1" Source="Nehemiah/1.html"/>
		<Chapter Name="2" Source="Nehemiah/2.html"/>
		<Chapter Name="3" Source="Nehemiah/3.html"/>
		<Chapter Name="4" Source="Nehemiah/4.html"/>
		<Chapter Name="5" Source="Nehemiah/5.html"/>
		<Chapter Name="6" Source="Nehemiah/6.html"/>
		<Chapter Name="7" Source="Nehemiah/7.html"/>
		<Chapter Name="8" Source="Nehemiah/8.html"/>
		<Chapter Name="9" Source="Nehemiah/9.html"/>
		<Chapter Name="10" Source="Nehemiah/10.html"/>
		<Chapter Name="11" Source="Nehemiah/11.html"/>
		<Chapter Name="12" Source="Nehemiah/12.html"/>
		<Chapter Name="13" Source="Nehemiah/13.html"/>
	</Book>
	<Book Name="Job">
		<Chapter Name="1" Source="Job/1.html"/>
		<Chapter Name="2" Source="Job/2.html"/>
		<Chapter Name="3" Source="Job/3.html"/>
		<Chapter Name="4" Source="Job/4.html"/>
		<Chapter Name="5" Source="Job/5.html"/>
		<Chapter Name="6" Source="Job/6.html"/>
		<Chapter Name="7" Source="Job/7.html"/>
		<Chapter Name="8" Source="Job/8.html"/>
		<Chapter Name="9" Source="Job/9.html"/>
		<Chapter Name="10" Source="Job/10.html"/>
		<Chapter Name="11" Source="Job/11.html"/>
		<Chapter Name="12" Source="Job/12.html"/>
		<Chapter Name="13" Source="Job/13.html"/>
		<Chapter Name="14" Source="Job/14.html"/>
		<Chapter Name="15" Source="Job/15.html"/>
		<Chapter Name="16" Source="Job/16.html"/>
		<Chapter Name="17" Source="Job/17.html"/>
		<Chapter Name="18" Source="Job/18.html"/>
		<Chapter Name="19" Source="Job/19.html"/>
		<Chapter Name="20" Source="Job/20.html"/>
		<Chapter Name="21" Source="Job/21.html"/>
		<Chapter Name="22" Source="Job/22.html"/>
		<Chapter Name="23" Source="Job/23.html"/>
		<Chapter Name="24" Source="Job/24.html"/>
		<Chapter Name="25" Source="Job/25.html"/>
		<Chapter Name="26" Source="Job/26.html"/>
		<Chapter Name="27" Source="Job/27.html"/>
		<Chapter Name="28" Source="Job/28.html"/>
		<Chapter Name="29" Source="Job/29.html"/>
		<Chapter Name="30" Source="Job/30.html"/>
		<Chapter Name="31" Source="Job/31.html"/>
		<Chapter Name="32" Source="Job/32.html"/>
		<Chapter Name="33" Source="Job/33.html"/>
		<Chapter Name="34" Source="Job/34.html"/>
		<Chapter Name="35" Source="Job/35.html"/>
		<Chapter Name="36" Source="Job/36.html"/>
		<Chapter Name="37" Source="Job/37.html"/>
		<Chapter Name="38" Source="Job/38.html"/>
		<Chapter Name="39" Source="Job/39.html"/>
		<Chapter Name="40" Source="Job/40.html"/>
		<Chapter Name="41" Source="Job/41.html"/>
		<Chapter Name="42" Source="Job/42.html"/>
	</Book>
	<Book Name="Psalms">
		<Chapter Name="1" Source="Psalms/1.html"/>
		<Chapter Name="2" Source="Psalms/2.html"/>
		<Chapter Name="3" Source="Psalms/3.html"/>
		<Chapter Name="4" Source="Psalms/4.html"/>
		<Chapter Name="5" Source="Psalms/5.html"/>
		<Chapter Name="6" Source="Psalms/6.html"/>
		<Chapter Name="7" Source="Psalms/7.html"/>
		<Chapter Name="8" Source="Psalms/8.html"/>
		<Chapter Name="9" Source="Psalms/9.html"/>
		<Chapter Name="10" Source="Psalms/10.html"/>
		<Chapter Name="11" Source="Psalms/11.html"/>
		<Chapter Name="12" Source="Psalms/12.html"/>
		<Chapter Name="13" Source="Psalms/13.html"/>
		<Chapter Name="14" Source="Psalms/14.html"/>
		<Chapter Name="15" Source="Psalms/15.html"/>
		<Chapter Name="16" Source="Psalms/16.html"/>
		<Chapter Name="17" Source="Psalms/17.html"/>
		<Chapter Name="18" Source="Psalms/18.html"/>
		<Chapter Name="19" Source="Psalms/19.html"/>
		<Chapter Name="20" Source="Psalms/20.html"/>
		<Chapter Name="21" Source="Psalms/21.html"/>
		<Chapter Name="22" Source="Psalms/22.html"/>
		<Chapter Name="23" Source="Psalms/23.html"/>
		<Chapter Name="24" Source="Psalms/24.html"/>
		<Chapter Name="25" Source="Psalms/25.html"/>
		<Chapter Name="26" Source="Psalms/26.html"/>
		<Chapter Name="27" Source="Psalms/27.html"/>
		<Chapter Name="28" Source="Psalms/28.html"/>
		<Chapter Name="29" Source="Psalms/29.html"/>
		<Chapter Name="30" Source="Psalms/30.html"/>
		<Chapter Name="31" Source="Psalms/31.html"/>
		<Chapter Name="32" Source="Psalms/32.html"/>
		<Chapter Name="33" Source="Psalms/33.html"/>
		<Chapter Name="34" Source="Psalms/34.html"/>
		<Chapter Name="35" Source="Psalms/35.html"/>
		<Chapter Name="36" Source="Psalms/36.html"/>
		<Chapter Name="37" Source="Psalms/37.html"/>
		<Chapter Name="38" Source="Psalms/38.html"/>
		<Chapter Name="39" Source="Psalms/39.html"/>
		<Chapter Name="40" Source="Psalms/40.html"/>
		<Chapter Name="41" Source="Psalms/41.html"/>
		<Chapter Name="42" Source="Psalms/42.html"/>
		<Chapter Name="43" Source="Psalms/43.html"/>
		<Chapter Name="44" Source="Psalms/44.html"/>
		<Chapter Name="45" Source="Psalms/45.html"/>
		<Chapter Name="46" Source="Psalms/46.html"/>
		<Chapter Name="47" Source="Psalms/47.html"/>
		<Chapter Name="48" Source="Psalms/48.html"/>
		<Chapter Name="49" Source="Psalms/49.html"/>
		<Chapter Name="50" Source="Psalms/50.html"/>
		<Chapter Name="51" Source="Psalms/51.html"/>
		<Chapter Name="52" Source="Psalms/52.html"/>
		<Chapter Name="53" Source="Psalms/53.html"/>
		<Chapter Name="54" Source="Psalms/54.html"/>
		<Chapter Name="55" Source="Psalms/55.html"/>
		<Chapter Name="56" Source="Psalms/56.html"/>
		<Chapter Name="57" Source="Psalms/57.html"/>
		<Chapter Name="58" Source="Psalms/58.html"/>
		<Chapter Name="59" Source="Psalms/59.html"/>
		<Chapter Name="60" Source="Psalms/60.html"/>
		<Chapter Name="61" Source="Psalms/61.html"/>
		<Chapter Name="62" Source="Psalms/62.html"/>
		<Chapter Name="63" Source="Psalms/63.html"/>
		<Chapter Name="64" Source="Psalms/64.html"/>
		<Chapter Name="65" Source="Psalms/65.html"/>
		<Chapter Name="66" Source="Psalms/66.html"/>
		<Chapter Name="67" Source="Psalms/67.html"/>
		<Chapter Name="68" Source="Psalms/68.html"/>
		<Chapter Name="69" Source="Psalms/69.html"/>
		<Chapter Name="70" Source="Psalms/70.html"/>
		<Chapter Name="71" Source="Psalms/71.html"/>
		<Chapter Name="72" Source="Psalms/72.html"/>
		<Chapter Name="73" Source="Psalms/73.html"/>
		<Chapter Name="74" Source="Psalms/74.html"/>
		<Chapter Name="75" Source="Psalms/75.html"/>
		<Chapter Name="76" Source="Psalms/76.html"/>
		<Chapter Name="77" Source="Psalms/77.html"/>
		<Chapter Name="78" Source="Psalms/78.html"/>
		<Chapter Name="79" Source="Psalms/79.html"/>
		<Chapter Name="80" Source="Psalms/80.html"/>
		<Chapter Name="81" Source="Psalms/81.html"/>
		<Chapter Name="82" Source="Psalms/82.html"/>
		<Chapter Name="83" Source="Psalms/83.html"/>
		<Chapter Name="84" Source="Psalms/84.html"/>
		<Chapter Name="85" Source="Psalms/85.html"/>
		<Chapter Name="86" Source="Psalms/86.html"/>
		<Chapter Name="87" Source="Psalms/87.html"/>
		<Chapter Name="88" Source="Psalms/88.html"/>
		<Chapter Name="89" Source="Psalms/89.html"/>
		<Chapter Name="90" Source="Psalms/90.html"/>
		<Chapter Name="91" Source="Psalms/91.html"/>
		<Chapter Name="92" Source="Psalms/92.html"/>
		<Chapter Name="93" Source="Psalms/93.html"/>
		<Chapter Name="94" Source="Psalms/94.html"/>
		<Chapter Name="95" Source="Psalms/95.html"/>
		<Chapter Name="96" Source="Psalms/96.html"/>
		<Chapter Name="97" Source="Psalms/97.html"/>
		<Chapter Name="98" Source="Psalms/98.html"/>
		<Chapter Name="99" Source="Psalms/99.html"/>
		<Chapter Name="101" Source="Psalms/101.html"/>
		<Chapter Name="102" Source="Psalms/102.html"/>
		<Chapter Name="103" Source="Psalms/103.html"/>
		<Chapter Name="104" Source="Psalms/104.html"/>
		<Chapter Name="105" Source="Psalms/105.html"/>
		<Chapter Name="106" Source="Psalms/106.html"/>
		<Chapter Name="107" Source="Psalms/107.html"/>
		<Chapter Name="108" Source="Psalms/108.html"/>
		<Chapter Name="109" Source="Psalms/109.html"/>
		<Chapter Name="110" Source="Psalms/110.html"/>
		<Chapter Name="111" Source="Psalms/111.html"/>
		<Chapter Name="112" Source="Psalms/112.html"/>
		<Chapter Name="113" Source="Psalms/113.html"/>
		<Chapter Name="114" Source="Psalms/114.html"/>
		<Chapter Name="115" Source="Psalms/115.html"/>
		<Chapter Name="116" Source="Psalms/116.html"/>
		<Chapter Name="117" Source="Psalms/117.html"/>
		<Chapter Name="118" Source="Psalms/118.html"/>
		<Chapter Name="119" Source="Psalms/119.html"/>
		<Chapter Name="120" Source="Psalms/120.html"/>
		<Chapter Name="121" Source="Psalms/121.html"/>
		<Chapter Name="122" Source="Psalms/122.html"/>
		<Chapter Name="123" Source="Psalms/123.html"/>
		<Chapter Name="124" Source="Psalms/124.html"/>
		<Chapter Name="125" Source="Psalms/125.html"/>
		<Chapter Name="126" Source="Psalms/126.html"/>
		<Chapter Name="127" Source="Psalms/127.html"/>
		<Chapter Name="128" Source="Psalms/128.html"/>
		<Chapter Name="129" Source="Psalms/129.html"/>
		<Chapter Name="130" Source="Psalms/130.html"/>
		<Chapter Name="131" Source="Psalms/131.html"/>
		<Chapter Name="132" Source="Psalms/132.html"/>
		<Chapter Name="133" Source="Psalms/133.html"/>
		<Chapter Name="134" Source="Psalms/134.html"/>
		<Chapter Name="135" Source="Psalms/135.html"/>
		<Chapter Name="136" Source="Psalms/136.html"/>
		<Chapter Name="137" Source="Psalms/137.html"/>
		<Chapter Name="138" Source="Psalms/138.html"/>
		<Chapter Name="139" Source="Psalms/139.html"/>
		<Chapter Name="140" Source="Psalms/140.html"/>
		<Chapter Name="141" Source="Psalms/141.html"/>
		<Chapter Name="142" Source="Psalms/142.html"/>
		<Chapter Name="143" Source="Psalms/143.html"/>
		<Chapter Name="144" Source="Psalms/144.html"/>
		<Chapter Name="145" Source="Psalms/145.html"/>
		<Chapter Name="146" Source="Psalms/146.html"/>
		<Chapter Name="147" Source="Psalms/147.html"/>
		<Chapter Name="148" Source="Psalms/148.html"/>
		<Chapter Name="149" Source="Psalms/149.html"/>
		<Chapter Name="150" Source="Psalms/150.html"/>
	</Book>
	<Book Name="Proverbs">
		<Chapter Name="1" Source="Proverbs/1.html"/>
		<Chapter Name="2" Source="Proverbs/2.html"/>
		<Chapter Name="3" Source="Proverbs/3.html"/>
		<Chapter Name="4" Source="Proverbs/4.html"/>
		<Chapter Name="5" Source="Proverbs/5.html"/>
		<Chapter Name="6" Source="Proverbs/6.html"/>
		<Chapter Name="7" Source="Proverbs/7.html"/>
		<Chapter Name="8" Source="Proverbs/8.html"/>
		<Chapter Name="9" Source="Proverbs/9.html"/>
		<Chapter Name="10" Source="Proverbs/10.html"/>
		<Chapter Name="11" Source="Proverbs/11.html"/>
		<Chapter Name="12" Source="Proverbs/12.html"/>
		<Chapter Name="13" Source="Proverbs/13.html"/>
		<Chapter Name="14" Source="Proverbs/14.html"/>
		<Chapter Name="15" Source="Proverbs/15.html"/>
		<Chapter Name="16" Source="Proverbs/16.html"/>
		<Chapter Name="17" Source="Proverbs/17.html"/>
		<Chapter Name="18" Source="Proverbs/18.html"/>
		<Chapter Name="19" Source="Proverbs/19.html"/>
		<Chapter Name="20" Source="Proverbs/20.html"/>
		<Chapter Name="21" Source="Proverbs/21.html"/>
		<Chapter Name="22" Source="Proverbs/22.html"/>
		<Chapter Name="23" Source="Proverbs/23.html"/>
		<Chapter Name="24" Source="Proverbs/24.html"/>
		<Chapter Name="25" Source="Proverbs/25.html"/>
		<Chapter Name="26" Source="Proverbs/26.html"/>
		<Chapter Name="27" Source="Proverbs/27.html"/>
		<Chapter Name="28" Source="Proverbs/28.html"/>
		<Chapter Name="29" Source="Proverbs/29.html"/>
		<Chapter Name="30" Source="Proverbs/30.html"/>
		<Chapter Name="31" Source="Proverbs/31.html"/>
	</Book>
	<Book Name="Ecclesiastes">
		<Chapter Name="1" Source="Ecclesiastes/1.html"/>
		<Chapter Name="2" Source="Ecclesiastes/2.html"/>
		<Chapter Name="3" Source="Ecclesiastes/3.html"/>
		<Chapter Name="4" Source="Ecclesiastes/4.html"/>
		<Chapter Name="5" Source="Ecclesiastes/5.html"/>
		<Chapter Name="6" Source="Ecclesiastes/6.html"/>
		<Chapter Name="7" Source="Ecclesiastes/7.html"/>
		<Chapter Name="8" Source="Ecclesiastes/8.html"/>
		<Chapter Name="9" Source="Ecclesiastes/9.html"/>
		<Chapter Name="10" Source="Ecclesiastes/10.html"/>
		<Chapter Name="11" Source="Ecclesiastes/11.html"/>
		<Chapter Name="12" Source="Ecclesiastes/12.html"/>
	</Book>
	<Book Name="Isaiah">
		<Chapter Name="1" Source="Isaiah/1.html"/>
		<Chapter Name="2" Source="Isaiah/2.html"/>
		<Chapter Name="3" Source="Isaiah/3.html"/>
		<Chapter Name="4" Source="Isaiah/4.html"/>
		<Chapter Name="5" Source="Isaiah/5.html"/>
		<Chapter Name="6" Source="Isaiah/6.html"/>
		<Chapter Name="7" Source="Isaiah/7.html"/>
		<Chapter Name="8" Source="Isaiah/8.html"/>
		<Chapter Name="9" Source="Isaiah/9.html"/>
		<Chapter Name="10" Source="Isaiah/10.html"/>
		<Chapter Name="11" Source="Isaiah/11.html"/>
		<Chapter Name="12" Source="Isaiah/12.html"/>
		<Chapter Name="13" Source="Isaiah/13.html"/>
		<Chapter Name="14" Source="Isaiah/14.html"/>
		<Chapter Name="15" Source="Isaiah/15.html"/>
		<Chapter Name="16" Source="Isaiah/16.html"/>
		<Chapter Name="17" Source="Isaiah/17.html"/>
		<Chapter Name="18" Source="Isaiah/18.html"/>
		<Chapter Name="19" Source="Isaiah/19.html"/>
		<Chapter Name="20" Source="Isaiah/20.html"/>
		<Chapter Name="21" Source="Isaiah/21.html"/>
		<Chapter Name="22" Source="Isaiah/22.html"/>
		<Chapter Name="23" Source="Isaiah/23.html"/>
		<Chapter Name="24" Source="Isaiah/24.html"/>
		<Chapter Name="25" Source="Isaiah/25.html"/>
		<Chapter Name="26" Source="Isaiah/26.html"/>
		<Chapter Name="27" Source="Isaiah/27.html"/>
		<Chapter Name="28" Source="Isaiah/28.html"/>
		<Chapter Name="29" Source="Isaiah/29.html"/>
		<Chapter Name="30" Source="Isaiah/30.html"/>
		<Chapter Name="31" Source="Isaiah/31.html"/>
		<Chapter Name="32" Source="Isaiah/32.html"/>
		<Chapter Name="33" Source="Isaiah/33.html"/>
		<Chapter Name="34" Source="Isaiah/34.html"/>
		<Chapter Name="35" Source="Isaiah/35.html"/>
		<Chapter Name="36" Source="Isaiah/36.html"/>
		<Chapter Name="37" Source="Isaiah/37.html"/>
		<Chapter Name="38" Source="Isaiah/38.html"/>
		<Chapter Name="39" Source="Isaiah/39.html"/>
		<Chapter Name="40" Source="Isaiah/40.html"/>
		<Chapter Name="41" Source="Isaiah/41.html"/>
		<Chapter Name="42" Source="Isaiah/42.html"/>
		<Chapter Name="43" Source="Isaiah/43.html"/>
		<Chapter Name="44" Source="Isaiah/44.html"/>
		<Chapter Name="45" Source="Isaiah/45.html"/>
		<Chapter Name="46" Source="Isaiah/46.html"/>
		<Chapter Name="47" Source="Isaiah/47.html"/>
		<Chapter Name="48" Source="Isaiah/48.html"/>
		<Chapter Name="49" Source="Isaiah/49.html"/>
		<Chapter Name="50" Source="Isaiah/50.html"/>
		<Chapter Name="51" Source="Isaiah/51.html"/>
		<Chapter Name="52" Source="Isaiah/52.html"/>
		<Chapter Name="53" Source="Isaiah/53.html"/>
		<Chapter Name="54" Source="Isaiah/54.html"/>
		<Chapter Name="55" Source="Isaiah/55.html"/>
		<Chapter Name="56" Source="Isaiah/56.html"/>
		<Chapter Name="57" Source="Isaiah/57.html"/>
		<Chapter Name="58" Source="Isaiah/58.html"/>
		<Chapter Name="59" Source="Isaiah/59.html"/>
		<Chapter Name="60" Source="Isaiah/60.html"/>
		<Chapter Name="61" Source="Isaiah/61.html"/>
		<Chapter Name="62" Source="Isaiah/62.html"/>
		<Chapter Name="63" Source="Isaiah/63.html"/>
		<Chapter Name="64" Source="Isaiah/64.html"/>
		<Chapter Name="65" Source="Isaiah/65.html"/>
		<Chapter Name="66" Source="Isaiah/66.html"/>
	</Book>
	<Book Name="Jeremiah">
		<Chapter Name="1" Source="Jeremiah/1.html"/>
		<Chapter Name="2" Source="Jeremiah/2.html"/>
		<Chapter Name="3" Source="Jeremiah/3.html"/>
		<Chapter Name="4" Source="Jeremiah/4.html"/>
		<Chapter Name="5" Source="Jeremiah/5.html"/>
		<Chapter Name="6" Source="Jeremiah/6.html"/>
		<Chapter Name="7" Source="Jeremiah/7.html"/>
		<Chapter Name="8" Source="Jeremiah/8.html"/>
		<Chapter Name="9" Source="Jeremiah/9.html"/>
		<Chapter Name="10" Source="Jeremiah/10.html"/>
		<Chapter Name="11" Source="Jeremiah/11.html"/>
		<Chapter Name="12" Source="Jeremiah/12.html"/>
		<Chapter Name="13" Source="Jeremiah/13.html"/>
		<Chapter Name="14" Source="Jeremiah/14.html"/>
		<Chapter Name="15" Source="Jeremiah/15.html"/>
		<Chapter Name="16" Source="Jeremiah/16.html"/>
		<Chapter Name="17" Source="Jeremiah/17.html"/>
		<Chapter Name="18" Source="Jeremiah/18.html"/>
		<Chapter Name="19" Source="Jeremiah/19.html"/>
		<Chapter Name="20" Source="Jeremiah/20.html"/>
		<Chapter Name="21" Source="Jeremiah/21.html"/>
		<Chapter Name="22" Source="Jeremiah/22.html"/>
		<Chapter Name="23" Source="Jeremiah/23.html"/>
		<Chapter Name="24" Source="Jeremiah/24.html"/>
		<Chapter Name="25" Source="Jeremiah/25.html"/>
		<Chapter Name="26" Source="Jeremiah/26.html"/>
		<Chapter Name="27" Source="Jeremiah/27.html"/>
		<Chapter Name="28" Source="Jeremiah/28.html"/>
		<Chapter Name="29" Source="Jeremiah/29.html"/>
		<Chapter Name="30" Source="Jeremiah/30.html"/>
		<Chapter Name="31" Source="Jeremiah/31.html"/>
		<Chapter Name="32" Source="Jeremiah/32.html"/>
		<Chapter Name="33" Source="Jeremiah/33.html"/>
		<Chapter Name="34" Source="Jeremiah/34.html"/>
		<Chapter Name="35" Source="Jeremiah/35.html"/>
		<Chapter Name="36" Source="Jeremiah/36.html"/>
		<Chapter Name="37" Source="Jeremiah/37.html"/>
		<Chapter Name="38" Source="Jeremiah/38.html"/>
		<Chapter Name="39" Source="Jeremiah/39.html"/>
		<Chapter Name="40" Source="Jeremiah/40.html"/>
		<Chapter Name="41" Source="Jeremiah/41.html"/>
		<Chapter Name="42" Source="Jeremiah/42.html"/>
		<Chapter Name="43" Source="Jeremiah/43.html"/>
		<Chapter Name="44" Source="Jeremiah/44.html"/>
		<Chapter Name="45" Source="Jeremiah/45.html"/>
		<Chapter Name="46" Source="Jeremiah/46.html"/>
		<Chapter Name="47" Source="Jeremiah/47.html"/>
		<Chapter Name="48" Source="Jeremiah/48.html"/>
		<Chapter Name="49" Source="Jeremiah/49.html"/>
		<Chapter Name="50" Source="Jeremiah/50.html"/>
		<Chapter Name="51" Source="Jeremiah/51.html"/>
		<Chapter Name="52" Source="Jeremiah/52.html"/>
	</Book>
	<Book Name="Lamentations">
		<Chapter Name="1" Source="Lamentations/1.html"/>
		<Chapter Name="2" Source="Lamentations/2.html"/>
		<Chapter Name="3" Source="Lamentations/3.html"/>
		<Chapter Name="4" Source="Lamentations/4.html"/>
		<Chapter Name="5" Source="Lamentations/5.html"/>
	</Book>
	<Book Name="Ezekiel">
		<Chapter Name="1" Source="Ezekiel/1.html"/>
		<Chapter Name="2" Source="Ezekiel/2.html"/>
		<Chapter Name="3" Source="Ezekiel/3.html"/>
		<Chapter Name="4" Source="Ezekiel/4.html"/>
		<Chapter Name="5" Source="Ezekiel/5.html"/>
		<Chapter Name="6" Source="Ezekiel/6.html"/>
		<Chapter Name="7" Source="Ezekiel/7.html"/>
		<Chapter Name="8" Source="Ezekiel/8.html"/>
		<Chapter Name="9" Source="Ezekiel/9.html"/>
		<Chapter Name="10" Source="Ezekiel/10.html"/>
		<Chapter Name="11" Source="Ezekiel/11.html"/>
		<Chapter Name="12" Source="Ezekiel/12.html"/>
		<Chapter Name="13" Source="Ezekiel/13.html"/>
		<Chapter Name="14" Source="Ezekiel/14.html"/>
		<Chapter Name="15" Source="Ezekiel/15.html"/>
		<Chapter Name="16" Source="Ezekiel/16.html"/>
		<Chapter Name="17" Source="Ezekiel/17.html"/>
		<Chapter Name="18" Source="Ezekiel/18.html"/>
		<Chapter Name="19" Source="Ezekiel/19.html"/>
		<Chapter Name="20" Source="Ezekiel/20.html"/>
		<Chapter Name="21" Source="Ezekiel/21.html"/>
		<Chapter Name="22" Source="Ezekiel/22.html"/>
		<Chapter Name="23" Source="Ezekiel/23.html"/>
		<Chapter Name="24" Source="Ezekiel/24.html"/>
		<Chapter Name="25" Source="Ezekiel/25.html"/>
		<Chapter Name="26" Source="Ezekiel/26.html"/>
		<Chapter Name="27" Source="Ezekiel/27.html"/>
		<Chapter Name="28" Source="Ezekiel/28.html"/>
		<Chapter Name="29" Source="Ezekiel/29.html"/>
		<Chapter Name="30" Source="Ezekiel/30.html"/>
		<Chapter Name="31" Source="Ezekiel/31.html"/>
		<Chapter Name="32" Source="Ezekiel/32.html"/>
		<Chapter Name="33" Source="Ezekiel/33.html"/>
		<Chapter Name="34" Source="Ezekiel/34.html"/>
		<Chapter Name="35" Source="Ezekiel/35.html"/>
		<Chapter Name="36" Source="Ezekiel/36.html"/>
		<Chapter Name="37" Source="Ezekiel/37.html"/>
		<Chapter Name="38" Source="Ezekiel/38.html"/>
		<Chapter Name="39" Source="Ezekiel/39.html"/>
		<Chapter Name="40" Source="Ezekiel/40.html"/>
		<Chapter Name="41" Source="Ezekiel/41.html"/>
		<Chapter Name="42" Source="Ezekiel/42.html"/>
		<Chapter Name="43" Source="Ezekiel/43.html"/>
		<Chapter Name="44" Source="Ezekiel/44.html"/>
		<Chapter Name="45" Source="Ezekiel/45.html"/>
		<Chapter Name="46" Source="Ezekiel/46.html"/>
		<Chapter Name="47" Source="Ezekiel/47.html"/>
		<Chapter Name="48" Source="Ezekiel/48.html"/>
	</Book>
	<Book Name="Daniel">
		<Chapter Name="1" Source="Daniel/1.html"/>
		<Chapter Name="2" Source="Daniel/2.html"/>
		<Chapter Name="3" Source="Daniel/3.html"/>
		<Chapter Name="4" Source="Daniel/4.html"/>
		<Chapter Name="5" Source="Daniel/5.html"/>
		<Chapter Name="6" Source="Daniel/6.html"/>
		<Chapter Name="7" Source="Daniel/7.html"/>
		<Chapter Name="8" Source="Daniel/8.html"/>
		<Chapter Name="9" Source="Daniel/9.html"/>
		<Chapter Name="10" Source="Daniel/10.html"/>
	</Book>
	<Book Name="Hosea">
		<Chapter Name="1" Source="Hosea/1.html"/>
		<Chapter Name="2" Source="Hosea/2.html"/>
		<Chapter Name="3" Source="Hosea/3.html"/>
		<Chapter Name="4" Source="Hosea/4.html"/>
		<Chapter Name="5" Source="Hosea/5.html"/>
		<Chapter Name="6" Source="Hosea/6.html"/>
		<Chapter Name="7" Source="Hosea/7.html"/>
		<Chapter Name="8" Source="Hosea/8.html"/>
		<Chapter Name="9" Source="Hosea/9.html"/>
		<Chapter Name="10" Source="Hosea/10.html"/>
		<Chapter Name="11" Source="Hosea/11.html"/>
		<Chapter Name="12" Source="Hosea/12.html"/>
		<Chapter Name="13" Source="Hosea/13.html"/>
		<Chapter Name="14" Source="Hosea/14.html"/>
	</Book>
	<Book Name="Joel">
		<Chapter Name="1" Source="Joel/1.html"/>
		<Chapter Name="2" Source="Joel/2.html"/>
		<Chapter Name="3" Source="Joel/3.html"/>
	</Book>
	<Book Name="Amos">
		<Chapter Name="1" Source="Amos/1.html"/>
		<Chapter Name="2" Source="Amos/2.html"/>
		<Chapter Name="3" Source="Amos/3.html"/>
		<Chapter Name="4" Source="Amos/4.html"/>
		<Chapter Name="5" Source="Amos/5.html"/>
		<Chapter Name="6" Source="Amos/6.html"/>
		<Chapter Name="7" Source="Amos/7.html"/>
		<Chapter Name="8" Source="Amos/8.html"/>
		<Chapter Name="9" Source="Amos/9.html"/>
	</Book>
	<Book Name="Obadiah">
		<Chapter Name="1" Source="Obadiah/1.html"/>
	</Book>
	<Book Name="Jonah">
		<Chapter Name="1" Source="Jonah/1.html"/>
		<Chapter Name="2" Source="Jonah/2.html"/>
		<Chapter Name="3" Source="Jonah/3.html"/>
		<Chapter Name="4" Source="Jonah/4.html"/>
	</Book>
	<Book Name="Micah">
		<Chapter Name="1" Source="Micah/1.html"/>
		<Chapter Name="2" Source="Micah/2.html"/>
		<Chapter Name="3" Source="Micah/3.html"/>
		<Chapter Name="4" Source="Micah/4.html"/>
		<Chapter Name="5" Source="Micah/5.html"/>
		<Chapter Name="6" Source="Micah/6.html"/>
		<Chapter Name="7" Source="Micah/7.html"/>
	</Book>
	<Book Name="Nahum">
		<Chapter Name="1" Source="Nahum/1.html"/>
		<Chapter Name="2" Source="Nahum/2.html"/>
		<Chapter Name="3" Source="Nahum/3.html"/>
	</Book>
	<Book Name="Habakkuk">
		<Chapter Name="1" Source="Habakkuk/1.html"/>
		<Chapter Name="2" Source="Habakkuk/2.html"/>
		<Chapter Name="3" Source="Habakkuk/3.html"/>
	</Book>
	<Book Name="Zephaniah">
		<Chapter Name="1" Source="Zephaniah/1.html"/>
		<Chapter Name="2" Source="Zephaniah/2.html"/>
		<Chapter Name="3" Source="Zephaniah/3.html"/>
	</Book>
	<Book Name="Haggai">
		<Chapter Name="1" Source="Haggai/1.html"/>
		<Chapter Name="2" Source="Haggai/2.html"/>
	</Book>
	<Book Name="Zechariah">
		<Chapter Name="1" Source="Zechariah/1.html"/>
		<Chapter Name="2" Source="Zechariah/2.html"/>
		<Chapter Name="3" Source="Zechariah/3.html"/>
		<Chapter Name="4" Source="Zechariah/4.html"/>
		<Chapter Name="5" Source="Zechariah/5.html"/>
		<Chapter Name="6" Source="Zechariah/6.html"/>
		<Chapter Name="7" Source="Zechariah/7.html"/>
		<Chapter Name="8" Source="Zechariah/8.html"/>
		<Chapter Name="9" Source="Zechariah/9.html"/>
		<Chapter Name="10" Source="Zechariah/10.html"/>
		<Chapter Name="11" Source="Zechariah/11.html"/>
		<Chapter Name="12" Source="Zechariah/12.html"/>
		<Chapter Name="13" Source="Zechariah/13.html"/>
		<Chapter Name="14" Source="Zechariah/14.html"/>
	</Book>
	<Book Name="Malachi">
		<Chapter Name="1" Source="Malachi/1.html"/>
		<Chapter Name="2" Source="Malachi/2.html"/>
		<Chapter Name="3" Source="Malachi/3.html"/>
		<Chapter Name="4" Source="Malachi/4.html"/>
	</Book>
	<Book Name="Matthew">
		<Chapter Name="1" Source="Matthew/1.html"/>
		<Chapter Name="2" Source="Matthew/2.html"/>
		<Chapter Name="3" Source="Matthew/3.html"/>
		<Chapter Name="4" Source="Matthew/4.html"/>
		<Chapter Name="5" Source="Matthew/5.html"/>
		<Chapter Name="6" Source="Matthew/6.html"/>
		<Chapter Name="7" Source="Matthew/7.html"/>
		<Chapter Name="8" Source="Matthew/8.html"/>
		<Chapter Name="9" Source="Matthew/9.html"/>
		<Chapter Name="10" Source="Matthew/10.html"/>
		<Chapter Name="11" Source="Matthew/11.html"/>
		<Chapter Name="12" Source="Matthew/12.html"/>
		<Chapter Name="13" Source="Matthew/13.html"/>
		<Chapter Name="14" Source="Matthew/14.html"/>
		<Chapter Name="15" Source="Matthew/15.html"/>
		<Chapter Name="16" Source="Matthew/16.html"/>
		<Chapter Name="17" Source="Matthew/17.html"/>
		<Chapter Name="18" Source="Matthew/18.html"/>
		<Chapter Name="19" Source="Matthew/19.html"/>
		<Chapter Name="20" Source="Matthew/20.html"/>
		<Chapter Name="21" Source="Matthew/21.html"/>
		<Chapter Name="22" Source="Matthew/22.html"/>
		<Chapter Name="23" Source="Matthew/23.html"/>
		<Chapter Name="24" Source="Matthew/24.html"/>
		<Chapter Name="25" Source="Matthew/25.html"/>
		<Chapter Name="26" Source="Matthew/26.html"/>
		<Chapter Name="27" Source="Matthew/27.html"/>
		<Chapter Name="28" Source="Matthew/28.html"/>
	</Book>
	<Book Name="Mark">
		<Chapter Name="1" Source="Mark/1.html"/>
		<Chapter Name="2" Source="Mark/2.html"/>
		<Chapter Name="3" Source="Mark/3.html"/>
		<Chapter Name="4" Source="Mark/4.html"/>
		<Chapter Name="5" Source="Mark/5.html"/>
		<Chapter Name="6" Source="Mark/6.html"/>
		<Chapter Name="7" Source="Mark/7.html"/>
		<Chapter Name="8" Source="Mark/8.html"/>
		<Chapter Name="9" Source="Mark/9.html"/>
		<Chapter Name="10" Source="Mark/10.html"/>
		<Chapter Name="11" Source="Mark/11.html"/>
		<Chapter Name="12" Source="Mark/12.html"/>
		<Chapter Name="13" Source="Mark/13.html"/>
		<Chapter Name="14" Source="Mark/14.html"/>
		<Chapter Name="15" Source="Mark/15.html"/>
		<Chapter Name="16" Source="Mark/16.html"/>
	</Book>
	<Book Name="Luke">
		<Chapter Name="1" Source="Luke/1.html"/>
		<Chapter Name="2" Source="Luke/2.html"/>
		<Chapter Name="3" Source="Luke/3.html"/>
		<Chapter Name="4" Source="Luke/4.html"/>
		<Chapter Name="5" Source="Luke/5.html"/>
		<Chapter Name="6" Source="Luke/6.html"/>
		<Chapter Name="7" Source="Luke/7.html"/>
		<Chapter Name="8" Source="Luke/8.html"/>
		<Chapter Name="9" Source="Luke/9.html"/>
		<Chapter Name="10" Source="Luke/10.html"/>
		<Chapter Name="11" Source="Luke/11.html"/>
		<Chapter Name="12" Source="Luke/12.html"/>
		<Chapter Name="13" Source="Luke/13.html"/>
		<Chapter Name="14" Source="Luke/14.html"/>
		<Chapter Name="15" Source="Luke/15.html"/>
		<Chapter Name="16" Source="Luke/16.html"/>
		<Chapter Name="17" Source="Luke/17.html"/>
		<Chapter Name="18" Source="Luke/18.html"/>
		<Chapter Name="19" Source="Luke/19.html"/>
		<Chapter Name="20" Source="Luke/20.html"/>
		<Chapter Name="21" Source="Luke/21.html"/>
		<Chapter Name="22" Source="Luke/22.html"/>
		<Chapter Name="23" Source="Luke/23.html"/>
		<Chapter Name="24" Source="Luke/24.html"/>
	</Book>
	<Book Name="John">
		<Chapter Name="1" Source="John/1.html"/>
		<Chapter Name="2" Source="John/2.html"/>
		<Chapter Name="3" Source="John/3.html"/>
		<Chapter Name="4" Source="John/4.html"/>
		<Chapter Name="5" Source="John/5.html"/>
		<Chapter Name="6" Source="John/6.html"/>
		<Chapter Name="7" Source="John/7.html"/>
		<Chapter Name="8" Source="John/8.html"/>
		<Chapter Name="9" Source="John/9.html"/>
		<Chapter Name="10" Source="John/10.html"/>
		<Chapter Name="11" Source="John/11.html"/>
		<Chapter Name="12" Source="John/12.html"/>
		<Chapter Name="13" Source="John/13.html"/>
		<Chapter Name="14" Source="John/14.html"/>
		<Chapter Name="15" Source="John/15.html"/>
		<Chapter Name="16" Source="John/16.html"/>
		<Chapter Name="17" Source="John/17.html"/>
		<Chapter Name="18" Source="John/18.html"/>
		<Chapter Name="19" Source="John/19.html"/>
		<Chapter Name="20" Source="John/20.html"/>
		<Chapter Name="21" Source="John/21.html"/>
	</Book>
	<Book Name="Acts">
		<Chapter Name="1" Source="Acts/1.html"/>
		<Chapter Name="2" Source="Acts/2.html"/>
		<Chapter Name="3" Source="Acts/3.html"/>
		<Chapter Name="4" Source="Acts/4.html"/>
		<Chapter Name="5" Source="Acts/5.html"/>
		<Chapter Name="6" Source="Acts/6.html"/>
		<Chapter Name="7" Source="Acts/7.html"/>
		<Chapter Name="8" Source="Acts/8.html"/>
		<Chapter Name="9" Source="Acts/9.html"/>
		<Chapter Name="10" Source="Acts/10.html"/>
		<Chapter Name="11" Source="Acts/11.html"/>
		<Chapter Name="12" Source="Acts/12.html"/>
		<Chapter Name="13" Source="Acts/13.html"/>
		<Chapter Name="14" Source="Acts/14.html"/>
		<Chapter Name="15" Source="Acts/15.html"/>
		<Chapter Name="16" Source="Acts/16.html"/>
		<Chapter Name="17" Source="Acts/17.html"/>
		<Chapter Name="18" Source="Acts/18.html"/>
		<Chapter Name="19" Source="Acts/19.html"/>
		<Chapter Name="20" Source="Acts/20.html"/>
		<Chapter Name="21" Source="Acts/21.html"/>
		<Chapter Name="22" Source="Acts/22.html"/>
		<Chapter Name="23" Source="Acts/23.html"/>
		<Chapter Name="24" Source="Acts/24.html"/>
		<Chapter Name="25" Source="Acts/25.html"/>
		<Chapter Name="26" Source="Acts/26.html"/>
		<Chapter Name="27" Source="Acts/27.html"/>
		<Chapter Name="28" Source="Acts/28.html"/>
	</Book>
	<Book Name="Romans">
		<Chapter Name="1" Source="Romans/1.html"/>
		<Chapter Name="2" Source="Romans/2.html"/>
		<Chapter Name="3" Source="Romans/3.html"/>
		<Chapter Name="4" Source="Romans/4.html"/>
		<Chapter Name="5" Source="Romans/5.html"/>
		<Chapter Name="6" Source="Romans/6.html"/>
		<Chapter Name="7" Source="Romans/7.html"/>
		<Chapter Name="8" Source="Romans/8.html"/>
		<Chapter Name="9" Source="Romans/9.html"/>
		<Chapter Name="10" Source="Romans/10.html"/>
		<Chapter Name="11" Source="Romans/11.html"/>
		<Chapter Name="12" Source="Romans/12.html"/>
		<Chapter Name="13" Source="Romans/13.html"/>
		<Chapter Name="14" Source="Romans/14.html"/>
		<Chapter Name="15" Source="Romans/15.html"/>
		<Chapter Name="16" Source="Romans/16.html"/>
	</Book>
	<Book Name="1 Corinthians">
		<Chapter Name="1" Source="1Corinthians/1.html"/>
		<Chapter Name="2" Source="1Corinthians/2.html"/>
		<Chapter Name="3" Source="1Corinthians/3.html"/>
		<Chapter Name="4" Source="1Corinthians/4.html"/>
		<Chapter Name="5" Source="1Corinthians/5.html"/>
		<Chapter Name="6" Source="1Corinthians/6.html"/>
		<Chapter Name="7" Source="1Corinthians/7.html"/>
		<Chapter Name="8" Source="1Corinthians/8.html"/>
		<Chapter Name="9" Source="1Corinthians/9.html"/>
		<Chapter Name="10" Source="1Corinthians/10.html"/>
		<Chapter Name="11" Source="1Corinthians/11.html"/>
		<Chapter Name="12" Source="1Corinthians/12.html"/>
		<Chapter Name="13" Source="1Corinthians/13.html"/>
		<Chapter Name="14" Source="1Corinthians/14.html"/>
		<Chapter Name="15" Source="1Corinthians/15.html"/>
		<Chapter Name="16" Source="1Corinthians/16.html"/>
	</Book>
	<Book Name="2 Corinthians">
		<Chapter Name="1" Source="2Corinthians/1.html"/>
		<Chapter Name="2" Source="2Corinthians/2.html"/>
		<Chapter Name="3" Source="2Corinthians/3.html"/>
		<Chapter Name="4" Source="2Corinthians/4.html"/>
		<Chapter Name="5" Source="2Corinthians/5.html"/>
		<Chapter Name="6" Source="2Corinthians/6.html"/>
		<Chapter Name="7" Source="2Corinthians/7.html"/>
		<Chapter Name="8" Source="2Corinthians/8.html"/>
		<Chapter Name="9" Source="2Corinthians/9.html"/>
		<Chapter Name="10" Source="2Corinthians/10.html"/>
		<Chapter Name="11" Source="2Corinthians/11.html"/>
		<Chapter Name="12" Source="2Corinthians/12.html"/>
		<Chapter Name="13" Source="2Corinthians/13.html"/>
	</Book>
	<Book Name="Galatians">
		<Chapter Name="1" Source="Galatians/1.html"/>
		<Chapter Name="2" Source="Galatians/2.html"/>
		<Chapter Name="3" Source="Galatians/3.html"/>
		<Chapter Name="4" Source="Galatians/4.html"/>
		<Chapter Name="5" Source="Galatians/5.html"/>
		<Chapter Name="6" Source="Galatians/6.html"/>
	</Book>
	<Book Name="Ephesians">
		<Chapter Name="1" Source="Ephesians/1.html"/>
		<Chapter Name="2" Source="Ephesians/2.html"/>
		<Chapter Name="3" Source="Ephesians/3.html"/>
		<Chapter Name="4" Source="Ephesians/4.html"/>
		<Chapter Name="5" Source="Ephesians/5.html"/>
		<Chapter Name="6" Source="Ephesians/6.html"/>
	</Book>
	<Book Name="Philippians">
		<Chapter Name="1" Source="Philippians/1.html"/>
		<Chapter Name="2" Source="Philippians/2.html"/>
		<Chapter Name="3" Source="Philippians/3.html"/>
		<Chapter Name="4" Source="Philippians/4.html"/>
	</Book>
	<Book Name="1 Thessalonians">
		<Chapter Name="1" Source="1Thessalonians/1.html"/>
		<Chapter Name="2" Source="1Thessalonians/2.html"/>
		<Chapter Name="3" Source="1Thessalonians/3.html"/>
		<Chapter Name="4" Source="1Thessalonians/4.html"/>
		<Chapter Name="5" Source="1Thessalonians/5.html"/>
	</Book>
	<Book Name="2 Thessalonians">
		<Chapter Name="1" Source="2Thessalonians/1.html"/>
		<Chapter Name="2" Source="2Thessalonians/2.html"/>
		<Chapter Name="3" Source="2Thessalonians/3.html"/>
	</Book>
	<Book Name="1 Timothy">
		<Chapter Name="1" Source="1Timothy/1.html"/>
		<Chapter Name="2" Source="1Timothy/2.html"/>
		<Chapter Name="3" Source="1Timothy/3.html"/>
		<Chapter Name="4" Source="1Timothy/4.html"/>
		<Chapter Name="5" Source="1Timothy/5.html"/>
		<Chapter Name="6" Source="1Timothy/6.html"/>
	</Book>
	<Book Name="2 Timothy">
		<Chapter Name="1" Source="2Timothy/1.html"/>
		<Chapter Name="2" Source="2Timothy/2.html"/>
		<Chapter Name="3" Source="2Timothy/3.html"/>
		<Chapter Name="4" Source="2Timothy/4.html"/>
	</Book>
	<Book Name="Titus">
		<Chapter Name="1" Source="Titus/1.html"/>
		<Chapter Name="2" Source="Titus/2.html"/>
		<Chapter Name="3" Source="Titus/3.html"/>
	</Book>
	<Book Name="Philemon">
		<Chapter Name="1" Source="Philemon/1.html"/>
	</Book>
	<Book Name="Hebrews">
		<Chapter Name="1" Source="Hebrews/1.html"/>
		<Chapter Name="2" Source="Hebrews/2.html"/>
		<Chapter Name="3" Source="Hebrews/3.html"/>
		<Chapter Name="4" Source="Hebrews/4.html"/>
		<Chapter Name="5" Source="Hebrews/5.html"/>
		<Chapter Name="6" Source="Hebrews/6.html"/>
		<Chapter Name="7" Source="Hebrews/7.html"/>
		<Chapter Name="8" Source="Hebrews/8.html"/>
		<Chapter Name="9" Source="Hebrews/9.html"/>
		<Chapter Name="10" Source="Hebrews/10.html"/>
		<Chapter Name="11" Source="Hebrews/11.html"/>
		<Chapter Name="12" Source="Hebrews/12.html"/>
		<Chapter Name="13" Source="Hebrews/13.html"/>
	</Book>
	<Book Name="James">
		<Chapter Name="1" Source="James/1.html"/>
		<Chapter Name="2" Source="James/2.html"/>
		<Chapter Name="3" Source="James/3.html"/>
		<Chapter Name="4" Source="James/4.html"/>
		<Chapter Name="5" Source="James/5.html"/>
	</Book>
	<Book Name="1 Peter">
		<Chapter Name="1" Source="1Peter/1.html"/>
		<Chapter Name="2" Source="1Peter/2.html"/>
		<Chapter Name="3" Source="1Peter/3.html"/>
		<Chapter Name="4" Source="1Peter/4.html"/>
		<Chapter Name="5" Source="1Peter/5.html"/>
	</Book>
	<Book Name="2 Peter">
		<Chapter Name="1" Source="2Peter/1.html"/>
		<Chapter Name="2" Source="2Peter/2.html"/>
		<Chapter Name="3" Source="2Peter/3.html"/>
	</Book>
	<Book Name="1 John">
		<Chapter Name="1" Source="1John/1.html"/>
		<Chapter Name="2" Source="1John/2.html"/>
		<Chapter Name="3" Source="1John/3.html"/>
		<Chapter Name="4" Source="1John/4.html"/>
		<Chapter Name="5" Source="1John/5.html"/>
	</Book>
	<Book Name="2 John">
		<Chapter Name="1" Source="2John/1.html"/>
	</Book>
	<Book Name="3 John">
		<Chapter Name="1" Source="3John/1.html"/>
	</Book>
	<Book Name="Jude">
		<Chapter Name="1" Source="Jude/1.html"/>
	</Book>
	<Book Name="Revelation">
		<Chapter Name="1" Source="Revelation/1.html"/>
		<Chapter Name="2" Source="Revelation/2.html"/>
		<Chapter Name="3" Source="Revelation/3.html"/>
		<Chapter Name="4" Source="Revelation/4.html"/>
		<Chapter Name="5" Source="Revelation/5.html"/>
		<Chapter Name="6" Source="Revelation/6.html"/>
		<Chapter Name="7" Source="Revelation/7.html"/>
		<Chapter Name="8" Source="Revelation/8.html"/>
		<Chapter Name="9" Source="Revelation/9.html"/>
		<Chapter Name="10" Source="Revelation/10.html"/>
		<Chapter Name="11" Source="Revelation/11.html"/>
		<Chapter Name="12" Source="Revelation/12.html"/>
		<Chapter Name="13" Source="Revelation/13.html"/>
		<Chapter Name="14" Source="Revelation/14.html"/>
		<Chapter Name="15" Source="Revelation/15.html"/>
		<Chapter Name="16" Source="Revelation/16.html"/>
		<Chapter Name="17" Source="Revelation/17.html"/>
		<Chapter Name="18" Source="Revelation/18.html"/>
		<Chapter Name="19" Source="Revelation/19.html"/>
		<Chapter Name="20" Source="Revelation/20.html"/>
		<Chapter Name="21" Source="Revelation/21.html"/>
		<Chapter Name="22" Source="Revelation/22.html"/>
	</Book>
</Bible>