<Torah>
	<Book Name="Matthew">
		<Chapter Name="1" Source="Matthew/1.html"/>
		<Chapter Name="2" Source="Matthew/2.html"/>
		<Chapter Name="3" Source="Matthew/3.html"/>
		<Chapter Name="4" Source="Matthew/4.html"/>
		<Chapter Name="5" Source="Matthew/5.html"/>
		<Chapter Name="6" Source="Matthew/6.html"/>
		<Chapter Name="7" Source="Matthew/7.html"/>
		<Chapter Name="8" Source="Matthew/8.html"/>
		<Chapter Name="9" Source="Matthew/9.html"/>
		<Chapter Name="10" Source="Matthew/10.html"/>
		<Chapter Name="11" Source="Matthew/11.html"/>
		<Chapter Name="12" Source="Matthew/12.html"/>
		<Chapter Name="13" Source="Matthew/13.html"/>
		<Chapter Name="14" Source="Matthew/14.html"/>
		<Chapter Name="15" Source="Matthew/15.html"/>
		<Chapter Name="16" Source="Matthew/16.html"/>
		<Chapter Name="17" Source="Matthew/17.html"/>
		<Chapter Name="18" Source="Matthew/18.html"/>
		<Chapter Name="19" Source="Matthew/19.html"/>
		<Chapter Name="20" Source="Matthew/20.html"/>
		<Chapter Name="21" Source="Matthew/21.html"/>
		<Chapter Name="22" Source="Matthew/22.html"/>
		<Chapter Name="23" Source="Matthew/23.html"/>
		<Chapter Name="24" Source="Matthew/24.html"/>
		<Chapter Name="25" Source="Matthew/25.html"/>
		<Chapter Name="26" Source="Matthew/26.html"/>
		<Chapter Name="27" Source="Matthew/27.html"/>
		<Chapter Name="28" Source="Matthew/28.html"/>
	</Book>
	<Book Name="Mark">
		<Chapter Name="1" Source="Mark/1.html"/>
		<Chapter Name="2" Source="Mark/2.html"/>
		<Chapter Name="3" Source="Mark/3.html"/>
		<Chapter Name="4" Source="Mark/4.html"/>
		<Chapter Name="5" Source="Mark/5.html"/>
		<Chapter Name="6" Source="Mark/6.html"/>
		<Chapter Name="7" Source="Mark/7.html"/>
		<Chapter Name="8" Source="Mark/8.html"/>
		<Chapter Name="9" Source="Mark/9.html"/>
		<Chapter Name="10" Source="Mark/10.html"/>
		<Chapter Name="11" Source="Mark/11.html"/>
		<Chapter Name="12" Source="Mark/12.html"/>
		<Chapter Name="13" Source="Mark/13.html"/>
		<Chapter Name="14" Source="Mark/14.html"/>
		<Chapter Name="15" Source="Mark/15.html"/>
		<Chapter Name="16" Source="Mark/16.html"/>
	</Book>
	<Book Name="Luke">
		<Chapter Name="1" Source="Luke/1.html"/>
		<Chapter Name="2" Source="Luke/2.html"/>
		<Chapter Name="3" Source="Luke/3.html"/>
		<Chapter Name="4" Source="Luke/4.html"/>
		<Chapter Name="5" Source="Luke/5.html"/>
		<Chapter Name="6" Source="Luke/6.html"/>
		<Chapter Name="7" Source="Luke/7.html"/>
		<Chapter Name="8" Source="Luke/8.html"/>
		<Chapter Name="9" Source="Luke/9.html"/>
		<Chapter Name="10" Source="Luke/10.html"/>
		<Chapter Name="11" Source="Luke/11.html"/>
		<Chapter Name="12" Source="Luke/12.html"/>
		<Chapter Name="13" Source="Luke/13.html"/>
		<Chapter Name="14" Source="Luke/14.html"/>
		<Chapter Name="15" Source="Luke/15.html"/>
		<Chapter Name="16" Source="Luke/16.html"/>
		<Chapter Name="17" Source="Luke/17.html"/>
		<Chapter Name="18" Source="Luke/18.html"/>
		<Chapter Name="19" Source="Luke/19.html"/>
		<Chapter Name="20" Source="Luke/20.html"/>
		<Chapter Name="21" Source="Luke/21.html"/>
		<Chapter Name="22" Source="Luke/22.html"/>
		<Chapter Name="23" Source="Luke/23.html"/>
		<Chapter Name="24" Source="Luke/24.html"/>
	</Book>
	<Book Name="John">
		<Chapter Name="1" Source="John/1.html"/>
		<Chapter Name="2" Source="John/2.html"/>
		<Chapter Name="3" Source="John/3.html"/>
		<Chapter Name="4" Source="John/4.html"/>
		<Chapter Name="5" Source="John/5.html"/>
		<Chapter Name="6" Source="John/6.html"/>
		<Chapter Name="7" Source="John/7.html"/>
		<Chapter Name="8" Source="John/8.html"/>
		<Chapter Name="9" Source="John/9.html"/>
		<Chapter Name="10" Source="John/10.html"/>
		<Chapter Name="11" Source="John/11.html"/>
		<Chapter Name="12" Source="John/12.html"/>
		<Chapter Name="13" Source="John/13.html"/>
		<Chapter Name="14" Source="John/14.html"/>
		<Chapter Name="15" Source="John/15.html"/>
		<Chapter Name="16" Source="John/16.html"/>
		<Chapter Name="17" Source="John/17.html"/>
		<Chapter Name="18" Source="John/18.html"/>
		<Chapter Name="19" Source="John/19.html"/>
		<Chapter Name="20" Source="John/20.html"/>
		<Chapter Name="21" Source="John/21.html"/>
	</Book>
	<Book Name="Acts">
		<Chapter Name="1" Source="Acts/1.html"/>
		<Chapter Name="2" Source="Acts/2.html"/>
		<Chapter Name="3" Source="Acts/3.html"/>
		<Chapter Name="4" Source="Acts/4.html"/>
		<Chapter Name="5" Source="Acts/5.html"/>
		<Chapter Name="6" Source="Acts/6.html"/>
		<Chapter Name="7" Source="Acts/7.html"/>
		<Chapter Name="8" Source="Acts/8.html"/>
		<Chapter Name="9" Source="Acts/9.html"/>
		<Chapter Name="10" Source="Acts/10.html"/>
		<Chapter Name="11" Source="Acts/11.html"/>
		<Chapter Name="12" Source="Acts/12.html"/>
		<Chapter Name="13" Source="Acts/13.html"/>
		<Chapter Name="14" Source="Acts/14.html"/>
		<Chapter Name="15" Source="Acts/15.html"/>
		<Chapter Name="16" Source="Acts/16.html"/>
		<Chapter Name="17" Source="Acts/17.html"/>
		<Chapter Name="18" Source="Acts/18.html"/>
		<Chapter Name="19" Source="Acts/19.html"/>
		<Chapter Name="20" Source="Acts/20.html"/>
		<Chapter Name="21" Source="Acts/21.html"/>
		<Chapter Name="22" Source="Acts/22.html"/>
		<Chapter Name="23" Source="Acts/23.html"/>
		<Chapter Name="24" Source="Acts/24.html"/>
		<Chapter Name="25" Source="Acts/25.html"/>
		<Chapter Name="26" Source="Acts/26.html"/>
		<Chapter Name="27" Source="Acts/27.html"/>
		<Chapter Name="28" Source="Acts/28.html"/>
	</Book>
	<Book Name="Romans">
		<Chapter Name="1" Source="Romans/1.html"/>
		<Chapter Name="2" Source="Romans/2.html"/>
		<Chapter Name="3" Source="Romans/3.html"/>
		<Chapter Name="4" Source="Romans/4.html"/>
		<Chapter Name="5" Source="Romans/5.html"/>
		<Chapter Name="6" Source="Romans/6.html"/>
		<Chapter Name="7" Source="Romans/7.html"/>
		<Chapter Name="8" Source="Romans/8.html"/>
		<Chapter Name="9" Source="Romans/9.html"/>
		<Chapter Name="10" Source="Romans/10.html"/>
		<Chapter Name="11" Source="Romans/11.html"/>
		<Chapter Name="12" Source="Romans/12.html"/>
		<Chapter Name="13" Source="Romans/13.html"/>
		<Chapter Name="14" Source="Romans/14.html"/>
		<Chapter Name="15" Source="Romans/15.html"/>
		<Chapter Name="16" Source="Romans/16.html"/>
	</Book>
	<Book Name="1 Corinthians">
		<Chapter Name="1" Source="1Corinthians/1.html"/>
		<Chapter Name="2" Source="1Corinthians/2.html"/>
		<Chapter Name="3" Source="1Corinthians/3.html"/>
		<Chapter Name="4" Source="1Corinthians/4.html"/>
		<Chapter Name="5" Source="1Corinthians/5.html"/>
		<Chapter Name="6" Source="1Corinthians/6.html"/>
		<Chapter Name="7" Source="1Corinthians/7.html"/>
		<Chapter Name="8" Source="1Corinthians/8.html"/>
		<Chapter Name="9" Source="1Corinthians/9.html"/>
		<Chapter Name="10" Source="1Corinthians/10.html"/>
		<Chapter Name="11" Source="1Corinthians/11.html"/>
		<Chapter Name="12" Source="1Corinthians/12.html"/>
		<Chapter Name="13" Source="1Corinthians/13.html"/>
		<Chapter Name="14" Source="1Corinthians/14.html"/>
		<Chapter Name="15" Source="1Corinthians/15.html"/>
		<Chapter Name="16" Source="1Corinthians/16.html"/>
	</Book>
	<Book Name="2 Corinthians">
		<Chapter Name="1" Source="2Corinthians/1.html"/>
		<Chapter Name="2" Source="2Corinthians/2.html"/>
		<Chapter Name="3" Source="2Corinthians/3.html"/>
		<Chapter Name="4" Source="2Corinthians/4.html"/>
		<Chapter Name="5" Source="2Corinthians/5.html"/>
		<Chapter Name="6" Source="2Corinthians/6.html"/>
		<Chapter Name="7" Source="2Corinthians/7.html"/>
		<Chapter Name="8" Source="2Corinthians/8.html"/>
		<Chapter Name="9" Source="2Corinthians/9.html"/>
		<Chapter Name="10" Source="2Corinthians/10.html"/>
		<Chapter Name="11" Source="2Corinthians/11.html"/>
		<Chapter Name="12" Source="2Corinthians/12.html"/>
		<Chapter Name="13" Source="2Corinthians/13.html"/>
	</Book>
	<Book Name="Galatians">
		<Chapter Name="1" Source="Galatians/1.html"/>
		<Chapter Name="2" Source="Galatians/2.html"/>
		<Chapter Name="3" Source="Galatians/3.html"/>
		<Chapter Name="4" Source="Galatians/4.html"/>
		<Chapter Name="5" Source="Galatians/5.html"/>
		<Chapter Name="6" Source="Galatians/6.html"/>
	</Book>
	<Book Name="Ephesians">
		<Chapter Name="1" Source="Ephesians/1.html"/>
		<Chapter Name="2" Source="Ephesians/2.html"/>
		<Chapter Name="3" Source="Ephesians/3.html"/>
		<Chapter Name="4" Source="Ephesians/4.html"/>
		<Chapter Name="5" Source="Ephesians/5.html"/>
		<Chapter Name="6" Source="Ephesians/6.html"/>
	</Book>
	<Book Name="Philippians">
		<Chapter Name="1" Source="Philippians/1.html"/>
		<Chapter Name="2" Source="Philippians/2.html"/>
		<Chapter Name="3" Source="Philippians/3.html"/>
		<Chapter Name="4" Source="Philippians/4.html"/>
	</Book>
	<Book Name="1 Thessalonians">
		<Chapter Name="1" Source="1Thessalonians/1.html"/>
		<Chapter Name="2" Source="1Thessalonians/2.html"/>
		<Chapter Name="3" Source="1Thessalonians/3.html"/>
		<Chapter Name="4" Source="1Thessalonians/4.html"/>
		<Chapter Name="5" Source="1Thessalonians/5.html"/>
	</Book>
	<Book Name="2 Thessalonians">
		<Chapter Name="1" Source="2Thessalonians/1.html"/>
		<Chapter Name="2" Source="2Thessalonians/2.html"/>
		<Chapter Name="3" Source="2Thessalonians/3.html"/>
	</Book>
	<Book Name="1 Timothy">
		<Chapter Name="1" Source="1Timothy/1.html"/>
		<Chapter Name="2" Source="1Timothy/2.html"/>
		<Chapter Name="3" Source="1Timothy/3.html"/>
		<Chapter Name="4" Source="1Timothy/4.html"/>
		<Chapter Name="5" Source="1Timothy/5.html"/>
		<Chapter Name="6" Source="1Timothy/6.html"/>
	</Book>
	<Book Name="2 Timothy">
		<Chapter Name="1" Source="2Timothy/1.html"/>
		<Chapter Name="2" Source="2Timothy/2.html"/>
		<Chapter Name="3" Source="2Timothy/3.html"/>
		<Chapter Name="4" Source="2Timothy/4.html"/>
	</Book>
	<Book Name="Titus">
		<Chapter Name="1" Source="Titus/1.html"/>
		<Chapter Name="2" Source="Titus/2.html"/>
		<Chapter Name="3" Source="Titus/3.html"/>
	</Book>
	<Book Name="Philemon">
		<Chapter Name="1" Source="Philemon/1.html"/>
	</Book>
	<Book Name="Hebrews">
		<Chapter Name="1" Source="Hebrews/1.html"/>
		<Chapter Name="2" Source="Hebrews/2.html"/>
		<Chapter Name="3" Source="Hebrews/3.html"/>
		<Chapter Name="4" Source="Hebrews/4.html"/>
		<Chapter Name="5" Source="Hebrews/5.html"/>
		<Chapter Name="6" Source="Hebrews/6.html"/>
		<Chapter Name="7" Source="Hebrews/7.html"/>
		<Chapter Name="8" Source="Hebrews/8.html"/>
		<Chapter Name="9" Source="Hebrews/9.html"/>
		<Chapter Name="10" Source="Hebrews/10.html"/>
		<Chapter Name="11" Source="Hebrews/11.html"/>
		<Chapter Name="12" Source="Hebrews/12.html"/>
		<Chapter Name="13" Source="Hebrews/13.html"/>
	</Book>
	<Book Name="James">
		<Chapter Name="1" Source="James/1.html"/>
		<Chapter Name="2" Source="James/2.html"/>
		<Chapter Name="3" Source="James/3.html"/>
		<Chapter Name="4" Source="James/4.html"/>
		<Chapter Name="5" Source="James/5.html"/>
	</Book>
	<Book Name="1 Peter">
		<Chapter Name="1" Source="1Peter/1.html"/>
		<Chapter Name="2" Source="1Peter/2.html"/>
		<Chapter Name="3" Source="1Peter/3.html"/>
		<Chapter Name="4" Source="1Peter/4.html"/>
		<Chapter Name="5" Source="1Peter/5.html"/>
	</Book>
	<Book Name="2 Peter">
		<Chapter Name="1" Source="2Peter/1.html"/>
		<Chapter Name="2" Source="2Peter/2.html"/>
		<Chapter Name="3" Source="2Peter/3.html"/>
	</Book>
	<Book Name="1 John">
		<Chapter Name="1" Source="1John/1.html"/>
		<Chapter Name="2" Source="1John/2.html"/>
		<Chapter Name="3" Source="1John/3.html"/>
		<Chapter Name="4" Source="1John/4.html"/>
		<Chapter Name="5" Source="1John/5.html"/>
	</Book>
	<Book Name="2 John">
		<Chapter Name="1" Source="2John/1.html"/>
	</Book>
	<Book Name="3 John">
		<Chapter Name="1" Source="3John/1.html"/>
	</Book>
	<Book Name="Jude">
		<Chapter Name="1" Source="Jude/1.html"/>
	</Book>
	<Book Name="Revelation">
		<Chapter Name="1" Source="Revelation/1.html"/>
		<Chapter Name="2" Source="Revelation/2.html"/>
		<Chapter Name="3" Source="Revelation/3.html"/>
		<Chapter Name="4" Source="Revelation/4.html"/>
		<Chapter Name="5" Source="Revelation/5.html"/>
		<Chapter Name="6" Source="Revelation/6.html"/>
		<Chapter Name="7" Source="Revelation/7.html"/>
		<Chapter Name="8" Source="Revelation/8.html"/>
		<Chapter Name="9" Source="Revelation/9.html"/>
		<Chapter Name="10" Source="Revelation/10.html"/>
		<Chapter Name="11" Source="Revelation/11.html"/>
		<Chapter Name="12" Source="Revelation/12.html"/>
		<Chapter Name="13" Source="Revelation/13.html"/>
		<Chapter Name="14" Source="Revelation/14.html"/>
		<Chapter Name="15" Source="Revelation/15.html"/>
		<Chapter Name="16" Source="Revelation/16.html"/>
		<Chapter Name="17" Source="Revelation/17.html"/>
		<Chapter Name="18" Source="Revelation/18.html"/>
		<Chapter Name="19" Source="Revelation/19.html"/>
		<Chapter Name="20" Source="Revelation/20.html"/>
		<Chapter Name="21" Source="Revelation/21.html"/>
		<Chapter Name="22" Source="Revelation/22.html"/>
	</Book>
</Torah>