<Prophets>
	<Book Name="Joshua">
		<Chapter Name="1" Source="Joshua/1.html"/>
		<Chapter Name="2" Source="Joshua/2.html"/>
		<Chapter Name="3" Source="Joshua/3.html"/>
		<Chapter Name="4" Source="Joshua/4.html"/>
		<Chapter Name="5" Source="Joshua/5.html"/>
		<Chapter Name="6" Source="Joshua/6.html"/>
		<Chapter Name="7" Source="Joshua/7.html"/>
		<Chapter Name="8" Source="Joshua/8.html"/>
		<Chapter Name="9" Source="Joshua/9.html"/>
		<Chapter Name="10" Source="Joshua/10.html"/>
		<Chapter Name="11" Source="Joshua/11.html"/>
		<Chapter Name="12" Source="Joshua/12.html"/>
		<Chapter Name="13" Source="Joshua/13.html"/>
		<Chapter Name="14" Source="Joshua/14.html"/>
		<Chapter Name="15" Source="Joshua/15.html"/>
		<Chapter Name="16" Source="Joshua/16.html"/>
		<Chapter Name="17" Source="Joshua/17.html"/>
		<Chapter Name="18" Source="Joshua/18.html"/>
		<Chapter Name="19" Source="Joshua/19.html"/>
		<Chapter Name="20" Source="Joshua/20.html"/>
		<Chapter Name="21" Source="Joshua/21.html"/>
		<Chapter Name="22" Source="Joshua/22.html"/>
		<Chapter Name="23" Source="Joshua/23.html"/>
		<Chapter Name="24" Source="Joshua/24.html"/>
	</Book>
	<Book Name="Judges">
		<Chapter Name="1" Source="Judges/1.html"/>
		<Chapter Name="2" Source="Judges/2.html"/>
		<Chapter Name="3" Source="Judges/3.html"/>
		<Chapter Name="4" Source="Judges/4.html"/>
		<Chapter Name="5" Source="Judges/5.html"/>
		<Chapter Name="6" Source="Judges/6.html"/>
		<Chapter Name="7" Source="Judges/7.html"/>
		<Chapter Name="8" Source="Judges/8.html"/>
		<Chapter Name="9" Source="Judges/9.html"/>
		<Chapter Name="10" Source="Judges/10.html"/>
		<Chapter Name="11" Source="Judges/11.html"/>
		<Chapter Name="12" Source="Judges/12.html"/>
		<Chapter Name="13" Source="Judges/13.html"/>
		<Chapter Name="14" Source="Judges/14.html"/>
		<Chapter Name="15" Source="Judges/15.html"/>
		<Chapter Name="16" Source="Judges/16.html"/>
		<Chapter Name="17" Source="Judges/17.html"/>
		<Chapter Name="18" Source="Judges/18.html"/>
		<Chapter Name="19" Source="Judges/19.html"/>
		<Chapter Name="20" Source="Judges/20.html"/>
		<Chapter Name="21" Source="Judges/21.html"/>
	</Book>
	<Book Name="1 Samuel">
		<Chapter Name="1" Source="1Samuel/1.html"/>
		<Chapter Name="2" Source="1Samuel/2.html"/>
		<Chapter Name="3" Source="1Samuel/3.html"/>
		<Chapter Name="4" Source="1Samuel/4.html"/>
		<Chapter Name="5" Source="1Samuel/5.html"/>
		<Chapter Name="6" Source="1Samuel/6.html"/>
		<Chapter Name="7" Source="1Samuel/7.html"/>
		<Chapter Name="8" Source="1Samuel/8.html"/>
		<Chapter Name="9" Source="1Samuel/9.html"/>
		<Chapter Name="10" Source="1Samuel/10.html"/>
		<Chapter Name="11" Source="1Samuel/11.html"/>
		<Chapter Name="12" Source="1Samuel/12.html"/>
		<Chapter Name="13" Source="1Samuel/13.html"/>
		<Chapter Name="14" Source="1Samuel/14.html"/>
		<Chapter Name="15" Source="1Samuel/15.html"/>
		<Chapter Name="16" Source="1Samuel/16.html"/>
		<Chapter Name="17" Source="1Samuel/17.html"/>
		<Chapter Name="18" Source="1Samuel/18.html"/>
		<Chapter Name="19" Source="1Samuel/19.html"/>
		<Chapter Name="20" Source="1Samuel/20.html"/>
		<Chapter Name="21" Source="1Samuel/21.html"/>
		<Chapter Name="22" Source="1Samuel/22.html"/>
		<Chapter Name="23" Source="1Samuel/23.html"/>
		<Chapter Name="24" Source="1Samuel/24.html"/>
		<Chapter Name="25" Source="1Samuel/25.html"/>
		<Chapter Name="26" Source="1Samuel/26.html"/>
		<Chapter Name="27" Source="1Samuel/27.html"/>
		<Chapter Name="28" Source="1Samuel/28.html"/>
		<Chapter Name="29" Source="1Samuel/29.html"/>
		<Chapter Name="30" Source="1Samuel/30.html"/>
		<Chapter Name="31" Source="1Samuel/31.html"/>
	</Book>
	<Book Name="2 Samuel">
		<Chapter Name="1" Source="2Samuel/1.html"/>
		<Chapter Name="2" Source="2Samuel/2.html"/>
		<Chapter Name="3" Source="2Samuel/3.html"/>
		<Chapter Name="4" Source="2Samuel/4.html"/>
		<Chapter Name="5" Source="2Samuel/5.html"/>
		<Chapter Name="6" Source="2Samuel/6.html"/>
		<Chapter Name="7" Source="2Samuel/7.html"/>
		<Chapter Name="8" Source="2Samuel/8.html"/>
		<Chapter Name="9" Source="2Samuel/9.html"/>
		<Chapter Name="10" Source="2Samuel/10.html"/>
		<Chapter Name="11" Source="2Samuel/11.html"/>
		<Chapter Name="12" Source="2Samuel/12.html"/>
		<Chapter Name="13" Source="2Samuel/13.html"/>
		<Chapter Name="14" Source="2Samuel/14.html"/>
		<Chapter Name="15" Source="2Samuel/15.html"/>
		<Chapter Name="16" Source="2Samuel/16.html"/>
		<Chapter Name="17" Source="2Samuel/17.html"/>
		<Chapter Name="18" Source="2Samuel/18.html"/>
		<Chapter Name="19" Source="2Samuel/19.html"/>
		<Chapter Name="20" Source="2Samuel/20.html"/>
		<Chapter Name="21" Source="2Samuel/21.html"/>
		<Chapter Name="22" Source="2Samuel/22.html"/>
		<Chapter Name="23" Source="2Samuel/23.html"/>
		<Chapter Name="24" Source="2Samuel/24.html"/>
	</Book>
	<Book Name="1 Kings">
		<Chapter Name="1" Source="1Kings/1.html"/>
		<Chapter Name="2" Source="1Kings/2.html"/>
		<Chapter Name="3" Source="1Kings/3.html"/>
		<Chapter Name="4" Source="1Kings/4.html"/>
		<Chapter Name="5" Source="1Kings/5.html"/>
		<Chapter Name="6" Source="1Kings/6.html"/>
		<Chapter Name="7" Source="1Kings/7.html"/>
		<Chapter Name="8" Source="1Kings/8.html"/>
		<Chapter Name="9" Source="1Kings/9.html"/>
		<Chapter Name="10" Source="1Kings/10.html"/>
		<Chapter Name="11" Source="1Kings/11.html"/>
		<Chapter Name="12" Source="1Kings/12.html"/>
		<Chapter Name="13" Source="1Kings/13.html"/>
		<Chapter Name="14" Source="1Kings/14.html"/>
		<Chapter Name="15" Source="1Kings/15.html"/>
		<Chapter Name="16" Source="1Kings/16.html"/>
		<Chapter Name="17" Source="1Kings/17.html"/>
		<Chapter Name="18" Source="1Kings/18.html"/>
		<Chapter Name="19" Source="1Kings/19.html"/>
		<Chapter Name="20" Source="1Kings/20.html"/>
		<Chapter Name="21" Source="1Kings/21.html"/>
		<Chapter Name="22" Source="1Kings/22.html"/>
	</Book>
	<Book Name="2 Kings">
		<Chapter Name="1" Source="2Kings/1.html"/>
		<Chapter Name="2" Source="2Kings/2.html"/>
		<Chapter Name="3" Source="2Kings/3.html"/>
		<Chapter Name="4" Source="2Kings/4.html"/>
		<Chapter Name="5" Source="2Kings/5.html"/>
		<Chapter Name="6" Source="2Kings/6.html"/>
		<Chapter Name="7" Source="2Kings/7.html"/>
		<Chapter Name="8" Source="2Kings/8.html"/>
		<Chapter Name="9" Source="2Kings/9.html"/>
		<Chapter Name="10" Source="2Kings/10.html"/>
		<Chapter Name="11" Source="2Kings/11.html"/>
		<Chapter Name="12" Source="2Kings/12.html"/>
		<Chapter Name="13" Source="2Kings/13.html"/>
		<Chapter Name="14" Source="2Kings/14.html"/>
		<Chapter Name="15" Source="2Kings/15.html"/>
		<Chapter Name="16" Source="2Kings/16.html"/>
		<Chapter Name="17" Source="2Kings/17.html"/>
		<Chapter Name="18" Source="2Kings/18.html"/>
		<Chapter Name="19" Source="2Kings/19.html"/>
		<Chapter Name="20" Source="2Kings/20.html"/>
		<Chapter Name="21" Source="2Kings/21.html"/>
		<Chapter Name="22" Source="2Kings/22.html"/>
		<Chapter Name="23" Source="2Kings/23.html"/>
		<Chapter Name="24" Source="2Kings/24.html"/>
		<Chapter Name="25" Source="2Kings/25.html"/>
	</Book>
	<Book Name="Isaiah">
		<Chapter Name="1" Source="Isaiah/1.html"/>
		<Chapter Name="2" Source="Isaiah/2.html"/>
		<Chapter Name="3" Source="Isaiah/3.html"/>
		<Chapter Name="4" Source="Isaiah/4.html"/>
		<Chapter Name="5" Source="Isaiah/5.html"/>
		<Chapter Name="6" Source="Isaiah/6.html"/>
		<Chapter Name="7" Source="Isaiah/7.html"/>
		<Chapter Name="8" Source="Isaiah/8.html"/>
		<Chapter Name="9" Source="Isaiah/9.html"/>
		<Chapter Name="10" Source="Isaiah/10.html"/>
		<Chapter Name="11" Source="Isaiah/11.html"/>
		<Chapter Name="12" Source="Isaiah/12.html"/>
		<Chapter Name="13" Source="Isaiah/13.html"/>
		<Chapter Name="14" Source="Isaiah/14.html"/>
		<Chapter Name="15" Source="Isaiah/15.html"/>
		<Chapter Name="16" Source="Isaiah/16.html"/>
		<Chapter Name="17" Source="Isaiah/17.html"/>
		<Chapter Name="18" Source="Isaiah/18.html"/>
		<Chapter Name="19" Source="Isaiah/19.html"/>
		<Chapter Name="20" Source="Isaiah/20.html"/>
		<Chapter Name="21" Source="Isaiah/21.html"/>
		<Chapter Name="22" Source="Isaiah/22.html"/>
		<Chapter Name="23" Source="Isaiah/23.html"/>
		<Chapter Name="24" Source="Isaiah/24.html"/>
		<Chapter Name="25" Source="Isaiah/25.html"/>
		<Chapter Name="26" Source="Isaiah/26.html"/>
		<Chapter Name="27" Source="Isaiah/27.html"/>
		<Chapter Name="28" Source="Isaiah/28.html"/>
		<Chapter Name="29" Source="Isaiah/29.html"/>
		<Chapter Name="30" Source="Isaiah/30.html"/>
		<Chapter Name="31" Source="Isaiah/31.html"/>
		<Chapter Name="32" Source="Isaiah/32.html"/>
		<Chapter Name="33" Source="Isaiah/33.html"/>
		<Chapter Name="34" Source="Isaiah/34.html"/>
		<Chapter Name="35" Source="Isaiah/35.html"/>
		<Chapter Name="36" Source="Isaiah/36.html"/>
		<Chapter Name="37" Source="Isaiah/37.html"/>
		<Chapter Name="38" Source="Isaiah/38.html"/>
		<Chapter Name="39" Source="Isaiah/39.html"/>
		<Chapter Name="40" Source="Isaiah/40.html"/>
		<Chapter Name="41" Source="Isaiah/41.html"/>
		<Chapter Name="42" Source="Isaiah/42.html"/>
		<Chapter Name="43" Source="Isaiah/43.html"/>
		<Chapter Name="44" Source="Isaiah/44.html"/>
		<Chapter Name="45" Source="Isaiah/45.html"/>
		<Chapter Name="46" Source="Isaiah/46.html"/>
		<Chapter Name="47" Source="Isaiah/47.html"/>
		<Chapter Name="48" Source="Isaiah/48.html"/>
		<Chapter Name="49" Source="Isaiah/49.html"/>
		<Chapter Name="50" Source="Isaiah/50.html"/>
		<Chapter Name="51" Source="Isaiah/51.html"/>
		<Chapter Name="52" Source="Isaiah/52.html"/>
		<Chapter Name="53" Source="Isaiah/53.html"/>
		<Chapter Name="54" Source="Isaiah/54.html"/>
		<Chapter Name="55" Source="Isaiah/55.html"/>
		<Chapter Name="56" Source="Isaiah/56.html"/>
		<Chapter Name="57" Source="Isaiah/57.html"/>
		<Chapter Name="58" Source="Isaiah/58.html"/>
		<Chapter Name="59" Source="Isaiah/59.html"/>
		<Chapter Name="60" Source="Isaiah/60.html"/>
		<Chapter Name="61" Source="Isaiah/61.html"/>
		<Chapter Name="62" Source="Isaiah/62.html"/>
		<Chapter Name="63" Source="Isaiah/63.html"/>
		<Chapter Name="64" Source="Isaiah/64.html"/>
		<Chapter Name="65" Source="Isaiah/65.html"/>
		<Chapter Name="66" Source="Isaiah/66.html"/>
	</Book>
	<Book Name="Jeremiah">
		<Chapter Name="1" Source="Jeremiah/1.html"/>
		<Chapter Name="2" Source="Jeremiah/2.html"/>
		<Chapter Name="3" Source="Jeremiah/3.html"/>
		<Chapter Name="4" Source="Jeremiah/4.html"/>
		<Chapter Name="5" Source="Jeremiah/5.html"/>
		<Chapter Name="6" Source="Jeremiah/6.html"/>
		<Chapter Name="7" Source="Jeremiah/7.html"/>
		<Chapter Name="8" Source="Jeremiah/8.html"/>
		<Chapter Name="9" Source="Jeremiah/9.html"/>
		<Chapter Name="10" Source="Jeremiah/10.html"/>
		<Chapter Name="11" Source="Jeremiah/11.html"/>
		<Chapter Name="12" Source="Jeremiah/12.html"/>
		<Chapter Name="13" Source="Jeremiah/13.html"/>
		<Chapter Name="14" Source="Jeremiah/14.html"/>
		<Chapter Name="15" Source="Jeremiah/15.html"/>
		<Chapter Name="16" Source="Jeremiah/16.html"/>
		<Chapter Name="17" Source="Jeremiah/17.html"/>
		<Chapter Name="18" Source="Jeremiah/18.html"/>
		<Chapter Name="19" Source="Jeremiah/19.html"/>
		<Chapter Name="20" Source="Jeremiah/20.html"/>
		<Chapter Name="21" Source="Jeremiah/21.html"/>
		<Chapter Name="22" Source="Jeremiah/22.html"/>
		<Chapter Name="23" Source="Jeremiah/23.html"/>
		<Chapter Name="24" Source="Jeremiah/24.html"/>
		<Chapter Name="25" Source="Jeremiah/25.html"/>
		<Chapter Name="26" Source="Jeremiah/26.html"/>
		<Chapter Name="27" Source="Jeremiah/27.html"/>
		<Chapter Name="28" Source="Jeremiah/28.html"/>
		<Chapter Name="29" Source="Jeremiah/29.html"/>
		<Chapter Name="30" Source="Jeremiah/30.html"/>
		<Chapter Name="31" Source="Jeremiah/31.html"/>
		<Chapter Name="32" Source="Jeremiah/32.html"/>
		<Chapter Name="33" Source="Jeremiah/33.html"/>
		<Chapter Name="34" Source="Jeremiah/34.html"/>
		<Chapter Name="35" Source="Jeremiah/35.html"/>
		<Chapter Name="36" Source="Jeremiah/36.html"/>
		<Chapter Name="37" Source="Jeremiah/37.html"/>
		<Chapter Name="38" Source="Jeremiah/38.html"/>
		<Chapter Name="39" Source="Jeremiah/39.html"/>
		<Chapter Name="40" Source="Jeremiah/40.html"/>
		<Chapter Name="41" Source="Jeremiah/41.html"/>
		<Chapter Name="42" Source="Jeremiah/42.html"/>
		<Chapter Name="43" Source="Jeremiah/43.html"/>
		<Chapter Name="44" Source="Jeremiah/44.html"/>
		<Chapter Name="45" Source="Jeremiah/45.html"/>
		<Chapter Name="46" Source="Jeremiah/46.html"/>
		<Chapter Name="47" Source="Jeremiah/47.html"/>
		<Chapter Name="48" Source="Jeremiah/48.html"/>
		<Chapter Name="49" Source="Jeremiah/49.html"/>
		<Chapter Name="50" Source="Jeremiah/50.html"/>
		<Chapter Name="51" Source="Jeremiah/51.html"/>
		<Chapter Name="52" Source="Jeremiah/52.html"/>
	</Book>
	<Book Name="Ezekiel">
		<Chapter Name="1" Source="Ezekiel/1.html"/>
		<Chapter Name="2" Source="Ezekiel/2.html"/>
		<Chapter Name="3" Source="Ezekiel/3.html"/>
		<Chapter Name="4" Source="Ezekiel/4.html"/>
		<Chapter Name="5" Source="Ezekiel/5.html"/>
		<Chapter Name="6" Source="Ezekiel/6.html"/>
		<Chapter Name="7" Source="Ezekiel/7.html"/>
		<Chapter Name="8" Source="Ezekiel/8.html"/>
		<Chapter Name="9" Source="Ezekiel/9.html"/>
		<Chapter Name="10" Source="Ezekiel/10.html"/>
		<Chapter Name="11" Source="Ezekiel/11.html"/>
		<Chapter Name="12" Source="Ezekiel/12.html"/>
		<Chapter Name="13" Source="Ezekiel/13.html"/>
		<Chapter Name="14" Source="Ezekiel/14.html"/>
		<Chapter Name="15" Source="Ezekiel/15.html"/>
		<Chapter Name="16" Source="Ezekiel/16.html"/>
		<Chapter Name="17" Source="Ezekiel/17.html"/>
		<Chapter Name="18" Source="Ezekiel/18.html"/>
		<Chapter Name="19" Source="Ezekiel/19.html"/>
		<Chapter Name="20" Source="Ezekiel/20.html"/>
		<Chapter Name="21" Source="Ezekiel/21.html"/>
		<Chapter Name="22" Source="Ezekiel/22.html"/>
		<Chapter Name="23" Source="Ezekiel/23.html"/>
		<Chapter Name="24" Source="Ezekiel/24.html"/>
		<Chapter Name="25" Source="Ezekiel/25.html"/>
		<Chapter Name="26" Source="Ezekiel/26.html"/>
		<Chapter Name="27" Source="Ezekiel/27.html"/>
		<Chapter Name="28" Source="Ezekiel/28.html"/>
		<Chapter Name="29" Source="Ezekiel/29.html"/>
		<Chapter Name="30" Source="Ezekiel/30.html"/>
		<Chapter Name="31" Source="Ezekiel/31.html"/>
		<Chapter Name="32" Source="Ezekiel/32.html"/>
		<Chapter Name="33" Source="Ezekiel/33.html"/>
		<Chapter Name="34" Source="Ezekiel/34.html"/>
		<Chapter Name="35" Source="Ezekiel/35.html"/>
		<Chapter Name="36" Source="Ezekiel/36.html"/>
		<Chapter Name="37" Source="Ezekiel/37.html"/>
		<Chapter Name="38" Source="Ezekiel/38.html"/>
		<Chapter Name="39" Source="Ezekiel/39.html"/>
		<Chapter Name="40" Source="Ezekiel/40.html"/>
		<Chapter Name="41" Source="Ezekiel/41.html"/>
		<Chapter Name="42" Source="Ezekiel/42.html"/>
		<Chapter Name="43" Source="Ezekiel/43.html"/>
		<Chapter Name="44" Source="Ezekiel/44.html"/>
		<Chapter Name="45" Source="Ezekiel/45.html"/>
		<Chapter Name="46" Source="Ezekiel/46.html"/>
		<Chapter Name="47" Source="Ezekiel/47.html"/>
		<Chapter Name="48" Source="Ezekiel/48.html"/>
	</Book>
	<Book Name="Hosea">
		<Chapter Name="1" Source="Hosea/1.html"/>
		<Chapter Name="2" Source="Hosea/2.html"/>
		<Chapter Name="3" Source="Hosea/3.html"/>
		<Chapter Name="4" Source="Hosea/4.html"/>
		<Chapter Name="5" Source="Hosea/5.html"/>
		<Chapter Name="6" Source="Hosea/6.html"/>
		<Chapter Name="7" Source="Hosea/7.html"/>
		<Chapter Name="8" Source="Hosea/8.html"/>
		<Chapter Name="9" Source="Hosea/9.html"/>
		<Chapter Name="10" Source="Hosea/10.html"/>
		<Chapter Name="11" Source="Hosea/11.html"/>
		<Chapter Name="12" Source="Hosea/12.html"/>
		<Chapter Name="13" Source="Hosea/13.html"/>
		<Chapter Name="14" Source="Hosea/14.html"/>
	</Book>
	<Book Name="Joel">
		<Chapter Name="1" Source="Joel/1.html"/>
		<Chapter Name="2" Source="Joel/2.html"/>
		<Chapter Name="3" Source="Joel/3.html"/>
	</Book>
	<Book Name="Amos">
		<Chapter Name="1" Source="Amos/1.html"/>
		<Chapter Name="2" Source="Amos/2.html"/>
		<Chapter Name="3" Source="Amos/3.html"/>
		<Chapter Name="4" Source="Amos/4.html"/>
		<Chapter Name="5" Source="Amos/5.html"/>
		<Chapter Name="6" Source="Amos/6.html"/>
		<Chapter Name="7" Source="Amos/7.html"/>
		<Chapter Name="8" Source="Amos/8.html"/>
		<Chapter Name="9" Source="Amos/9.html"/>
	</Book>
	<Book Name="Obadiah">
		<Chapter Name="1" Source="Obadiah/1.html"/>
	</Book>
	<Book Name="Jonah">
		<Chapter Name="1" Source="Jonah/1.html"/>
		<Chapter Name="2" Source="Jonah/2.html"/>
		<Chapter Name="3" Source="Jonah/3.html"/>
		<Chapter Name="4" Source="Jonah/4.html"/>
	</Book>
	<Book Name="Micah">
		<Chapter Name="1" Source="Micah/1.html"/>
		<Chapter Name="2" Source="Micah/2.html"/>
		<Chapter Name="3" Source="Micah/3.html"/>
		<Chapter Name="4" Source="Micah/4.html"/>
		<Chapter Name="5" Source="Micah/5.html"/>
		<Chapter Name="6" Source="Micah/6.html"/>
		<Chapter Name="7" Source="Micah/7.html"/>
	</Book>
	<Book Name="Nahum">
		<Chapter Name="1" Source="Nahum/1.html"/>
		<Chapter Name="2" Source="Nahum/2.html"/>
		<Chapter Name="3" Source="Nahum/3.html"/>
	</Book>
	<Book Name="Habakkuk">
		<Chapter Name="1" Source="Habakkuk/1.html"/>
		<Chapter Name="2" Source="Habakkuk/2.html"/>
		<Chapter Name="3" Source="Habakkuk/3.html"/>
	</Book>
	<Book Name="Zephaniah">
		<Chapter Name="1" Source="Zephaniah/1.html"/>
		<Chapter Name="2" Source="Zephaniah/2.html"/>
		<Chapter Name="3" Source="Zephaniah/3.html"/>
	</Book>
	<Book Name="Haggai">
		<Chapter Name="1" Source="Haggai/1.html"/>
		<Chapter Name="2" Source="Haggai/2.html"/>
	</Book>
	<Book Name="Zechariah">
		<Chapter Name="1" Source="Zechariah/1.html"/>
		<Chapter Name="2" Source="Zechariah/2.html"/>
		<Chapter Name="3" Source="Zechariah/3.html"/>
		<Chapter Name="4" Source="Zechariah/4.html"/>
		<Chapter Name="5" Source="Zechariah/5.html"/>
		<Chapter Name="6" Source="Zechariah/6.html"/>
		<Chapter Name="7" Source="Zechariah/7.html"/>
		<Chapter Name="8" Source="Zechariah/8.html"/>
		<Chapter Name="9" Source="Zechariah/9.html"/>
		<Chapter Name="10" Source="Zechariah/10.html"/>
		<Chapter Name="11" Source="Zechariah/11.html"/>
		<Chapter Name="12" Source="Zechariah/12.html"/>
		<Chapter Name="13" Source="Zechariah/13.html"/>
		<Chapter Name="14" Source="Zechariah/14.html"/>
	</Book>
	<Book Name="Malachi">
		<Chapter Name="1" Source="Malachi/1.html"/>
		<Chapter Name="2" Source="Malachi/2.html"/>
		<Chapter Name="3" Source="Malachi/3.html"/>
		<Chapter Name="4" Source="Malachi/4.html"/>
	</Book>
</Prophets>