<Writings>
	<Book Name="Psalms">
		<Chapter Name="1" Source="Psalms/1.html"/>
		<Chapter Name="2" Source="Psalms/2.html"/>
		<Chapter Name="3" Source="Psalms/3.html"/>
		<Chapter Name="4" Source="Psalms/4.html"/>
		<Chapter Name="5" Source="Psalms/5.html"/>
		<Chapter Name="6" Source="Psalms/6.html"/>
		<Chapter Name="7" Source="Psalms/7.html"/>
		<Chapter Name="8" Source="Psalms/8.html"/>
		<Chapter Name="9" Source="Psalms/9.html"/>
		<Chapter Name="10" Source="Psalms/10.html"/>
		<Chapter Name="11" Source="Psalms/11.html"/>
		<Chapter Name="12" Source="Psalms/12.html"/>
		<Chapter Name="13" Source="Psalms/13.html"/>
		<Chapter Name="14" Source="Psalms/14.html"/>
		<Chapter Name="15" Source="Psalms/15.html"/>
		<Chapter Name="16" Source="Psalms/16.html"/>
		<Chapter Name="17" Source="Psalms/17.html"/>
		<Chapter Name="18" Source="Psalms/18.html"/>
		<Chapter Name="19" Source="Psalms/19.html"/>
		<Chapter Name="20" Source="Psalms/20.html"/>
		<Chapter Name="21" Source="Psalms/21.html"/>
		<Chapter Name="22" Source="Psalms/22.html"/>
		<Chapter Name="23" Source="Psalms/23.html"/>
		<Chapter Name="24" Source="Psalms/24.html"/>
		<Chapter Name="25" Source="Psalms/25.html"/>
		<Chapter Name="26" Source="Psalms/26.html"/>
		<Chapter Name="27" Source="Psalms/27.html"/>
		<Chapter Name="28" Source="Psalms/28.html"/>
		<Chapter Name="29" Source="Psalms/29.html"/>
		<Chapter Name="30" Source="Psalms/30.html"/>
		<Chapter Name="31" Source="Psalms/31.html"/>
		<Chapter Name="32" Source="Psalms/32.html"/>
		<Chapter Name="33" Source="Psalms/33.html"/>
		<Chapter Name="34" Source="Psalms/34.html"/>
		<Chapter Name="35" Source="Psalms/35.html"/>
		<Chapter Name="36" Source="Psalms/36.html"/>
		<Chapter Name="37" Source="Psalms/37.html"/>
		<Chapter Name="38" Source="Psalms/38.html"/>
		<Chapter Name="39" Source="Psalms/39.html"/>
		<Chapter Name="40" Source="Psalms/40.html"/>
		<Chapter Name="41" Source="Psalms/41.html"/>
		<Chapter Name="42" Source="Psalms/42.html"/>
		<Chapter Name="43" Source="Psalms/43.html"/>
		<Chapter Name="44" Source="Psalms/44.html"/>
		<Chapter Name="45" Source="Psalms/45.html"/>
		<Chapter Name="46" Source="Psalms/46.html"/>
		<Chapter Name="47" Source="Psalms/47.html"/>
		<Chapter Name="48" Source="Psalms/48.html"/>
		<Chapter Name="49" Source="Psalms/49.html"/>
		<Chapter Name="50" Source="Psalms/50.html"/>
		<Chapter Name="51" Source="Psalms/51.html"/>
		<Chapter Name="52" Source="Psalms/52.html"/>
		<Chapter Name="53" Source="Psalms/53.html"/>
		<Chapter Name="54" Source="Psalms/54.html"/>
		<Chapter Name="55" Source="Psalms/55.html"/>
		<Chapter Name="56" Source="Psalms/56.html"/>
		<Chapter Name="57" Source="Psalms/57.html"/>
		<Chapter Name="58" Source="Psalms/58.html"/>
		<Chapter Name="59" Source="Psalms/59.html"/>
		<Chapter Name="60" Source="Psalms/60.html"/>
		<Chapter Name="61" Source="Psalms/61.html"/>
		<Chapter Name="62" Source="Psalms/62.html"/>
		<Chapter Name="63" Source="Psalms/63.html"/>
		<Chapter Name="64" Source="Psalms/64.html"/>
		<Chapter Name="65" Source="Psalms/65.html"/>
		<Chapter Name="66" Source="Psalms/66.html"/>
		<Chapter Name="67" Source="Psalms/67.html"/>
		<Chapter Name="68" Source="Psalms/68.html"/>
		<Chapter Name="69" Source="Psalms/69.html"/>
		<Chapter Name="70" Source="Psalms/70.html"/>
		<Chapter Name="71" Source="Psalms/71.html"/>
		<Chapter Name="72" Source="Psalms/72.html"/>
		<Chapter Name="73" Source="Psalms/73.html"/>
		<Chapter Name="74" Source="Psalms/74.html"/>
		<Chapter Name="75" Source="Psalms/75.html"/>
		<Chapter Name="76" Source="Psalms/76.html"/>
		<Chapter Name="77" Source="Psalms/77.html"/>
		<Chapter Name="78" Source="Psalms/78.html"/>
		<Chapter Name="79" Source="Psalms/79.html"/>
		<Chapter Name="80" Source="Psalms/80.html"/>
		<Chapter Name="81" Source="Psalms/81.html"/>
		<Chapter Name="82" Source="Psalms/82.html"/>
		<Chapter Name="83" Source="Psalms/83.html"/>
		<Chapter Name="84" Source="Psalms/84.html"/>
		<Chapter Name="85" Source="Psalms/85.html"/>
		<Chapter Name="86" Source="Psalms/86.html"/>
		<Chapter Name="87" Source="Psalms/87.html"/>
		<Chapter Name="88" Source="Psalms/88.html"/>
		<Chapter Name="89" Source="Psalms/89.html"/>
		<Chapter Name="90" Source="Psalms/90.html"/>
		<Chapter Name="91" Source="Psalms/91.html"/>
		<Chapter Name="92" Source="Psalms/92.html"/>
		<Chapter Name="93" Source="Psalms/93.html"/>
		<Chapter Name="94" Source="Psalms/94.html"/>
		<Chapter Name="95" Source="Psalms/95.html"/>
		<Chapter Name="96" Source="Psalms/96.html"/>
		<Chapter Name="97" Source="Psalms/97.html"/>
		<Chapter Name="98" Source="Psalms/98.html"/>
		<Chapter Name="99" Source="Psalms/99.html"/>
		<Chapter Name="101" Source="Psalms/101.html"/>
		<Chapter Name="102" Source="Psalms/102.html"/>
		<Chapter Name="103" Source="Psalms/103.html"/>
		<Chapter Name="104" Source="Psalms/104.html"/>
		<Chapter Name="105" Source="Psalms/105.html"/>
		<Chapter Name="106" Source="Psalms/106.html"/>
		<Chapter Name="107" Source="Psalms/107.html"/>
		<Chapter Name="108" Source="Psalms/108.html"/>
		<Chapter Name="109" Source="Psalms/109.html"/>
		<Chapter Name="110" Source="Psalms/110.html"/>
		<Chapter Name="111" Source="Psalms/111.html"/>
		<Chapter Name="112" Source="Psalms/112.html"/>
		<Chapter Name="113" Source="Psalms/113.html"/>
		<Chapter Name="114" Source="Psalms/114.html"/>
		<Chapter Name="115" Source="Psalms/115.html"/>
		<Chapter Name="116" Source="Psalms/116.html"/>
		<Chapter Name="117" Source="Psalms/117.html"/>
		<Chapter Name="118" Source="Psalms/118.html"/>
		<Chapter Name="119" Source="Psalms/119.html"/>
		<Chapter Name="120" Source="Psalms/120.html"/>
		<Chapter Name="121" Source="Psalms/121.html"/>
		<Chapter Name="122" Source="Psalms/122.html"/>
		<Chapter Name="123" Source="Psalms/123.html"/>
		<Chapter Name="124" Source="Psalms/124.html"/>
		<Chapter Name="125" Source="Psalms/125.html"/>
		<Chapter Name="126" Source="Psalms/126.html"/>
		<Chapter Name="127" Source="Psalms/127.html"/>
		<Chapter Name="128" Source="Psalms/128.html"/>
		<Chapter Name="129" Source="Psalms/129.html"/>
		<Chapter Name="130" Source="Psalms/130.html"/>
		<Chapter Name="131" Source="Psalms/131.html"/>
		<Chapter Name="132" Source="Psalms/132.html"/>
		<Chapter Name="133" Source="Psalms/133.html"/>
		<Chapter Name="134" Source="Psalms/134.html"/>
		<Chapter Name="135" Source="Psalms/135.html"/>
		<Chapter Name="136" Source="Psalms/136.html"/>
		<Chapter Name="137" Source="Psalms/137.html"/>
		<Chapter Name="138" Source="Psalms/138.html"/>
		<Chapter Name="139" Source="Psalms/139.html"/>
		<Chapter Name="140" Source="Psalms/140.html"/>
		<Chapter Name="141" Source="Psalms/141.html"/>
		<Chapter Name="142" Source="Psalms/142.html"/>
		<Chapter Name="143" Source="Psalms/143.html"/>
		<Chapter Name="144" Source="Psalms/144.html"/>
		<Chapter Name="145" Source="Psalms/145.html"/>
		<Chapter Name="146" Source="Psalms/146.html"/>
		<Chapter Name="147" Source="Psalms/147.html"/>
		<Chapter Name="148" Source="Psalms/148.html"/>
		<Chapter Name="149" Source="Psalms/149.html"/>
		<Chapter Name="150" Source="Psalms/150.html"/>
	</Book>
	<Book Name="Proverbs">
		<Chapter Name="1" Source="Proverbs/1.html"/>
		<Chapter Name="2" Source="Proverbs/2.html"/>
		<Chapter Name="3" Source="Proverbs/3.html"/>
		<Chapter Name="4" Source="Proverbs/4.html"/>
		<Chapter Name="5" Source="Proverbs/5.html"/>
		<Chapter Name="6" Source="Proverbs/6.html"/>
		<Chapter Name="7" Source="Proverbs/7.html"/>
		<Chapter Name="8" Source="Proverbs/8.html"/>
		<Chapter Name="9" Source="Proverbs/9.html"/>
		<Chapter Name="10" Source="Proverbs/10.html"/>
		<Chapter Name="11" Source="Proverbs/11.html"/>
		<Chapter Name="12" Source="Proverbs/12.html"/>
		<Chapter Name="13" Source="Proverbs/13.html"/>
		<Chapter Name="14" Source="Proverbs/14.html"/>
		<Chapter Name="15" Source="Proverbs/15.html"/>
		<Chapter Name="16" Source="Proverbs/16.html"/>
		<Chapter Name="17" Source="Proverbs/17.html"/>
		<Chapter Name="18" Source="Proverbs/18.html"/>
		<Chapter Name="19" Source="Proverbs/19.html"/>
		<Chapter Name="20" Source="Proverbs/20.html"/>
		<Chapter Name="21" Source="Proverbs/21.html"/>
		<Chapter Name="22" Source="Proverbs/22.html"/>
		<Chapter Name="23" Source="Proverbs/23.html"/>
		<Chapter Name="24" Source="Proverbs/24.html"/>
		<Chapter Name="25" Source="Proverbs/25.html"/>
		<Chapter Name="26" Source="Proverbs/26.html"/>
		<Chapter Name="27" Source="Proverbs/27.html"/>
		<Chapter Name="28" Source="Proverbs/28.html"/>
		<Chapter Name="29" Source="Proverbs/29.html"/>
		<Chapter Name="30" Source="Proverbs/30.html"/>
		<Chapter Name="31" Source="Proverbs/31.html"/>
	</Book>
	<Book Name="Job">
		<Chapter Name="1" Source="Job/1.html"/>
		<Chapter Name="2" Source="Job/2.html"/>
		<Chapter Name="3" Source="Job/3.html"/>
		<Chapter Name="4" Source="Job/4.html"/>
		<Chapter Name="5" Source="Job/5.html"/>
		<Chapter Name="6" Source="Job/6.html"/>
		<Chapter Name="7" Source="Job/7.html"/>
		<Chapter Name="8" Source="Job/8.html"/>
		<Chapter Name="9" Source="Job/9.html"/>
		<Chapter Name="10" Source="Job/10.html"/>
		<Chapter Name="11" Source="Job/11.html"/>
		<Chapter Name="12" Source="Job/12.html"/>
		<Chapter Name="13" Source="Job/13.html"/>
		<Chapter Name="14" Source="Job/14.html"/>
		<Chapter Name="15" Source="Job/15.html"/>
		<Chapter Name="16" Source="Job/16.html"/>
		<Chapter Name="17" Source="Job/17.html"/>
		<Chapter Name="18" Source="Job/18.html"/>
		<Chapter Name="19" Source="Job/19.html"/>
		<Chapter Name="20" Source="Job/20.html"/>
		<Chapter Name="21" Source="Job/21.html"/>
		<Chapter Name="22" Source="Job/22.html"/>
		<Chapter Name="23" Source="Job/23.html"/>
		<Chapter Name="24" Source="Job/24.html"/>
		<Chapter Name="25" Source="Job/25.html"/>
		<Chapter Name="26" Source="Job/26.html"/>
		<Chapter Name="27" Source="Job/27.html"/>
		<Chapter Name="28" Source="Job/28.html"/>
		<Chapter Name="29" Source="Job/29.html"/>
		<Chapter Name="30" Source="Job/30.html"/>
		<Chapter Name="31" Source="Job/31.html"/>
		<Chapter Name="32" Source="Job/32.html"/>
		<Chapter Name="33" Source="Job/33.html"/>
		<Chapter Name="34" Source="Job/34.html"/>
		<Chapter Name="35" Source="Job/35.html"/>
		<Chapter Name="36" Source="Job/36.html"/>
		<Chapter Name="37" Source="Job/37.html"/>
		<Chapter Name="38" Source="Job/38.html"/>
		<Chapter Name="39" Source="Job/39.html"/>
		<Chapter Name="40" Source="Job/40.html"/>
		<Chapter Name="41" Source="Job/41.html"/>
		<Chapter Name="42" Source="Job/42.html"/>
	</Book>
	<Book Name="Ruth">
		<Chapter Name="1" Source="Ruth/1.html"/>
		<Chapter Name="2" Source="Ruth/2.html"/>
		<Chapter Name="3" Source="Ruth/3.html"/>
		<Chapter Name="4" Source="Ruth/4.html"/>
	</Book>
	<Book Name="Lamentations">
		<Chapter Name="1" Source="Lamentations/1.html"/>
		<Chapter Name="2" Source="Lamentations/2.html"/>
		<Chapter Name="3" Source="Lamentations/3.html"/>
		<Chapter Name="4" Source="Lamentations/4.html"/>
		<Chapter Name="5" Source="Lamentations/5.html"/>
	</Book>
	<Book Name="Ecclesiastes">
		<Chapter Name="1" Source="Ecclesiastes/1.html"/>
		<Chapter Name="2" Source="Ecclesiastes/2.html"/>
		<Chapter Name="3" Source="Ecclesiastes/3.html"/>
		<Chapter Name="4" Source="Ecclesiastes/4.html"/>
		<Chapter Name="5" Source="Ecclesiastes/5.html"/>
		<Chapter Name="6" Source="Ecclesiastes/6.html"/>
		<Chapter Name="7" Source="Ecclesiastes/7.html"/>
		<Chapter Name="8" Source="Ecclesiastes/8.html"/>
		<Chapter Name="9" Source="Ecclesiastes/9.html"/>
		<Chapter Name="10" Source="Ecclesiastes/10.html"/>
		<Chapter Name="11" Source="Ecclesiastes/11.html"/>
		<Chapter Name="12" Source="Ecclesiastes/12.html"/>
	</Book>
	<Book Name="Daniel">
		<Chapter Name="1" Source="Daniel/1.html"/>
		<Chapter Name="2" Source="Daniel/2.html"/>
		<Chapter Name="3" Source="Daniel/3.html"/>
		<Chapter Name="4" Source="Daniel/4.html"/>
		<Chapter Name="5" Source="Daniel/5.html"/>
		<Chapter Name="6" Source="Daniel/6.html"/>
		<Chapter Name="7" Source="Daniel/7.html"/>
		<Chapter Name="8" Source="Daniel/8.html"/>
		<Chapter Name="9" Source="Daniel/9.html"/>
		<Chapter Name="10" Source="Daniel/10.html"/>
	</Book>
	<Book Name="Ezra">
		<Chapter Name="1" Source="Ezra/1.html"/>
		<Chapter Name="2" Source="Ezra/2.html"/>
		<Chapter Name="3" Source="Ezra/3.html"/>
		<Chapter Name="4" Source="Ezra/4.html"/>
		<Chapter Name="5" Source="Ezra/5.html"/>
		<Chapter Name="6" Source="Ezra/6.html"/>
		<Chapter Name="7" Source="Ezra/7.html"/>
		<Chapter Name="8" Source="Ezra/8.html"/>
		<Chapter Name="9" Source="Ezra/9.html"/>
		<Chapter Name="10" Source="Ezra/10.html"/>
	</Book>
	<Book Name="1 Chronicles">
		<Chapter Name="1" Source="1Chronicles/1.html"/>
		<Chapter Name="2" Source="1Chronicles/2.html"/>
		<Chapter Name="3" Source="1Chronicles/3.html"/>
		<Chapter Name="4" Source="1Chronicles/4.html"/>
		<Chapter Name="5" Source="1Chronicles/5.html"/>
		<Chapter Name="6" Source="1Chronicles/6.html"/>
		<Chapter Name="7" Source="1Chronicles/7.html"/>
		<Chapter Name="8" Source="1Chronicles/8.html"/>
		<Chapter Name="9" Source="1Chronicles/9.html"/>
		<Chapter Name="10" Source="1Chronicles/10.html"/>
		<Chapter Name="11" Source="1Chronicles/11.html"/>
		<Chapter Name="12" Source="1Chronicles/12.html"/>
		<Chapter Name="13" Source="1Chronicles/13.html"/>
		<Chapter Name="14" Source="1Chronicles/14.html"/>
		<Chapter Name="15" Source="1Chronicles/15.html"/>
		<Chapter Name="16" Source="1Chronicles/16.html"/>
		<Chapter Name="17" Source="1Chronicles/17.html"/>
		<Chapter Name="18" Source="1Chronicles/18.html"/>
		<Chapter Name="19" Source="1Chronicles/19.html"/>
		<Chapter Name="20" Source="1Chronicles/20.html"/>
		<Chapter Name="21" Source="1Chronicles/21.html"/>
		<Chapter Name="22" Source="1Chronicles/22.html"/>
		<Chapter Name="23" Source="1Chronicles/23.html"/>
		<Chapter Name="24" Source="1Chronicles/24.html"/>
		<Chapter Name="25" Source="1Chronicles/25.html"/>
		<Chapter Name="26" Source="1Chronicles/26.html"/>
		<Chapter Name="27" Source="1Chronicles/27.html"/>
		<Chapter Name="28" Source="1Chronicles/28.html"/>
		<Chapter Name="29" Source="1Chronicles/29.html"/>
	</Book>
	<Book Name="2 Chronicles">
		<Chapter Name="1" Source="2Chronicles/1.html"/>
		<Chapter Name="2" Source="2Chronicles/2.html"/>
		<Chapter Name="3" Source="2Chronicles/3.html"/>
		<Chapter Name="4" Source="2Chronicles/4.html"/>
		<Chapter Name="5" Source="2Chronicles/5.html"/>
		<Chapter Name="6" Source="2Chronicles/6.html"/>
		<Chapter Name="7" Source="2Chronicles/7.html"/>
		<Chapter Name="8" Source="2Chronicles/8.html"/>
		<Chapter Name="9" Source="2Chronicles/9.html"/>
		<Chapter Name="10" Source="2Chronicles/10.html"/>
		<Chapter Name="11" Source="2Chronicles/11.html"/>
		<Chapter Name="12" Source="2Chronicles/12.html"/>
		<Chapter Name="13" Source="2Chronicles/13.html"/>
		<Chapter Name="14" Source="2Chronicles/14.html"/>
		<Chapter Name="15" Source="2Chronicles/15.html"/>
		<Chapter Name="16" Source="2Chronicles/16.html"/>
		<Chapter Name="17" Source="2Chronicles/17.html"/>
		<Chapter Name="18" Source="2Chronicles/18.html"/>
		<Chapter Name="19" Source="2Chronicles/19.html"/>
		<Chapter Name="20" Source="2Chronicles/20.html"/>
		<Chapter Name="21" Source="2Chronicles/21.html"/>
		<Chapter Name="22" Source="2Chronicles/22.html"/>
		<Chapter Name="23" Source="2Chronicles/23.html"/>
		<Chapter Name="24" Source="2Chronicles/24.html"/>
		<Chapter Name="25" Source="2Chronicles/25.html"/>
		<Chapter Name="26" Source="2Chronicles/26.html"/>
		<Chapter Name="27" Source="2Chronicles/27.html"/>
		<Chapter Name="28" Source="2Chronicles/28.html"/>
		<Chapter Name="29" Source="2Chronicles/29.html"/>
		<Chapter Name="30" Source="2Chronicles/30.html"/>
		<Chapter Name="31" Source="2Chronicles/31.html"/>
		<Chapter Name="32" Source="2Chronicles/32.html"/>
		<Chapter Name="33" Source="2Chronicles/33.html"/>
		<Chapter Name="34" Source="2Chronicles/34.html"/>
		<Chapter Name="35" Source="2Chronicles/35.html"/>
		<Chapter Name="36" Source="2Chronicles/36.html"/>
	</Book>
</Writings>