<Document Type="FreeSpire">
	<Margins>
		<Gutter>36</Gutter>
		<Top>18</Top>
		<Bottom>18</Bottom>
		<Left>24</Left>
		<Right>24</Right>
	</Margins>
	<Columns>
		<Column>
			<Width>177.84</Width>
			<Space>177.12</Space>
		</Column>
	</Columns>
	<FontName>Times New Roman</FontName>
	<FontSize>12</FontSize>
</Document>