<Joseph>
	<Book Name="A Revelation Given to Joseph The Seer">
		<Chapter Name="1">
			<Insert>1 The words of God which he spake unto Moses, at a time when Moses was caught up into an exceeding high mountain, and he saw God face to face, and he talked with him, and the glory of God was upon Moses; therefore Moses could endure his presence.</Insert>
			<Insert>2 And God spake unto Moses, saying, Behold, I am the Lord God Almighty, and Endless is my name, for I am without beginning of days or end of years; and is not this endless?</Insert>
			<Insert>3 And behold, thou art my son, wherefore, look, and I will show thee the workmanship of mine hands, but not all; for my works are without end, and also my words, for they never cease; wherefore, no man can behold all my works except he behold all my glory; and no man can behold all my glory, and afterwards remain in the flesh, on the earth.</Insert>
			<Insert>4 And I have a work for thee, Moses, my son; and thou art in the similitude of mine Only Begotten; and mine Only Begotten is and shall be the Savior, for he is full of grace and truth; but there is no God beside me; and all things are present with me, for I know them all.</Insert>
			<Insert>5 And now, behold, this one thing I show unto thee, Moses, my son; for thou art in the world, and now I show it unto thee.</Insert>
			<Insert>6 And it came to pass, that Moses looked and beheld the world upon which he was created. And as Moses beheld the world, and the ends thereof, and all the children of men, which are and which were created; of the same he greatly marveled, and wondered. And the presence of God withdrew from Moses, that his glory was not upon Moses; and Moses was left unto himself; and as he was left unto himself, he fell unto the earth.</Insert>
			<Insert>7 And it came to pass, that it was for the space of many hours before Moses did again receive his natural strength like unto man; and he said unto himself, Now, for this cause, I know that man is nothing, which thing I never had supposed; but now mine own eyes have beheld God; but not mine natural but my spiritual eyes, for mine natural eyes could not have beheld, for I should have withered and died in his presence; but his glory was upon me, and I beheld his face, for I was transfigured before him.</Insert>
			<Insert>8 And now it came to pass, that when Moses had said these words, behold, Satan came tempting him, saying, Moses, son of man, worship me. And it came to pass that Moses looked upon Satan, and said, Who art thou, for behold I am a son of God, in the similitude of his Only Begotten; and where is thy glory, that I should worship thee? For, behold, I could not look upon God except his glory should come upon me, and I were transfigured before him. But I can look upon thee in the natural man. Is it not so surely?</Insert>
			<Insert>9 Blessed be the name of my God, for his Spirit hath not altogether withdrawn from me; or else where is thy glory, for it is darkness unto me, and I can judge between thee and God; for God said unto me, Worship God, for himo nly shalt thou serve. Get thee hence, Satan, deceive me not; for God said unto me, Thou art after the similitude of mine Only Begotten.</Insert>
			<Insert>10 And he also gave unto me commandment, when he called unto me out of the burning bush, saying, Call upon God in the name of mine Only Begotten, and worship me.</Insert>
			<Insert>11 And again, Moses said, I will not cease to call upon God. I have other things to inquire of him; for his glory has been upon me, and it is glory unto me; wherefore, I can judge between him and thee. Depart hence, Satan.</Insert>
			<Insert>12 And now, when Moses had said these words, Satan cried with a loud voice, and wrent upon the earth, and commanded, saying, I am the Only Begotten, worship me.</Insert>
			<Insert>13 And it came to pass, that Moses began to fear exceedingly; and as he began to fear, he saw the bitterness of hell; nevertheless, calling upon God he received strength, and he commanded, saying, Depart hence, Satan; for this one God only will I worship, which is the God of glory.</Insert>
			<Insert>14 And now, Satan began to tremble, and the earth shook, and Moses received strength and called upon God in the name of his Son,1 saying to Satan, Depart hence.</Insert>
			<Insert>15 And it came to pass, that Satan cried with a loud voice, with weeping, and wailing, and gnashing of teeth, and he departed hence; yea, from the presence of Moses, that he beheld him not.</Insert>
			<Insert>16 And now, of this thing Moses bore record; but because of wickedness, it is not had among the children of men.</Insert>
			<Insert>17 And it came to pass, that when Satan had departed from the presence of Moses, that Moses lifted up his eyes unto heaven, being filled with the Holy Ghost, which beareth record of the Father and the Son; and calling upon the name of God, he beheld again his glory; for it rested upon him, and he heard a voice, saying, Blessed art thou, Moses, for I, the Almighty, have chosen thee, and thou shalt be made stronger than many waters; for they shall obey thy command even as if thou wert God.</Insert>
			<Insert>18 And lo, I am with thee, even unto the end of thy days, for thou shalt deliver my people from bondage; even Israel my chosen.</Insert>
			<Insert>19 And it came to pass, as the voice was still speaking, he cast his eyes and beheld the earth; yea, even all the face of it; and there was not a particle of it which he did not behold, discerning it by the Spirit of God. And he beheld also the inhabitants thereof, and there was not a soul which he beheld not, and he discerned them by the Spirit of God, and their numbers were great, even as numberless as the sand upon the seashore. And he beheld many lands, and each land was called earth; and there were inhabitants on the face thereof.</Insert>
			<Insert>20 And it came to pass, that Moses called upon God, saying, Tell me, I pray thee, why these things are so, and by what thou madest them? And behold the glory of God was upon Moses, so that Moses stood in the presence of God, and he talked with him face to face.</Insert>
			<Insert>21 And the Lord God said unto Moses, For mine own purpose have I made these things. Here is wisdom, and it remaineth in me. And by the word of my power have I created them, which is mine Only Begotten Son, who is full of grace and truth. And worlds without number have I created, and I also created them for mine own purpose; and by the Son I created them, which is mine Only Begotten. And the first man of all men have I called Adam, which is many. But only an account of this earth, and the inhabitants thereof, give I unto you; for behold, there are many worlds which have passed away by the word of my power; and there are many also which now stand, and numberless are they unto man; but all things are numbered unto me; for they are mine, and I know them.</Insert>
			<Insert>22 And it came to pass, that Moses spake unto the Lord, saying, Be merciful unto thy servant, O God, and tell me concerning this earth, and the inhabitants thereof; and also the heavens, and then thy servant will be content.</Insert>
			<Insert>23 And the Lord God spake unto Moses, saying, The heavens, they are many and they cannot be numbered unto man, but they are numbered unto me, for they are mine; and as one earth shall pass away, and the heavens thereof, even so shall another come; and there is no end to my works, neither to my words; for this is my work and my glory, to bring to pass the immortality and eternal life of man.</Insert>
			<Insert>24 And now, Moses, my son, I will speak unto you concerning this earth upon which you stand; and you shall write the things which I shall speak. And in a day when the children of men shall esteem my words as naught, and take many of them from the book which you shall write, behold, I will raise up another like unto you, and they shall be had again among the children of men, among even as many as shall believe.</Insert>
			<Insert>25 These words were spoken unto Moses in the mount, the name of which shall not be known among the children of men. And now they are spoken unto you. Amen.</Insert>
		</Chapter>
	</Book>
</Joseph>